[2011-09-08 09:22] cipparello opened #1 "Add history field to it locale"
Hi two-pack,
    here there is a patch for the it locale with the new history field translated.

Thanks for all your efforts.
bye

<pre><code>
diff --git a/config/locales/it.yml b/config/locales/it.yml
--- a/config/locales/it.yml
+++ b/config/locales/it.yml
@@ -2,6 +2,7 @@ it:
   label_plugin_xlse_relations: "Esporta relazioni"
   label_plugin_xlse_watchers: "Esporta osservatori"
   label_plugin_x

[2011-09-20 15:56] two-pack commented on #1
Hi cipparello,

I pushed your translations to repository.
https://github.com/two-pack/redmine_xls_export/commit/42588e53348d2a6a1aed578912c89b581f120228

Thank you for your help :)

[2011-09-20 15:56] #1 closed, assigned to two-pack

[2011-10-05 14:34] two-pack opened #2 "Update date format of child ticket is invalid."
Update date format of child ticket is invalid which is like float number.
Create data has same problem.
I use OpenOffice Calc on ubuntu to check .

Redmine version is 1.2.1 stable.

[2011-10-06 13:27] two-pack commented on #2
I commited following:
https://github.com/two-pack/redmine_xls_export/commit/01312c45697261d9f62adde17345a0a677a758ff
https://github.com/two-pack/redmine_xls_export/commit/82adf38c413e8cf47acebd85f8da270050e07f33

I temporary reject children ticket format for this resolved.

[2011-10-06 13:27] #2 closed, assigned to nobody

[2011-10-07 11:17] cforce opened #3 "German locale for 1.3"
de:
  label_plugin_xlse_relations: "Ticket-Beziehnungen exportieren"
  label_plugin_xlse_watchers: "Beobachter exportieren"
  label_plugin_xlse_description: "Beschreibungen exportieren"
  label_plugin_xlse_history: "Historie exportieren"
  label_plugin_xlse_time: "Aufgewendete Zeit exportieren"
  label_plugin_xlse_attachments: "Anhänge auflisten"
  label_plugin_xlse_query_columns_only: "Nur ausgew

[2011-10-07 13:22] two-pack commented on #3
I committed your translation.
Thank you for your help :)

[2011-10-07 13:22] #3 closed, assigned to nobody

[2011-10-11 07:45] cipparello opened #4 "Add date format translation to IT locale."
Hi two-pack,
here there is the translation for the new field 'date format'.

bye

[code]

[2011-10-11 15:05] two-pack commented on #4
Hi Cipparello,

I added your translation.
Thank you for your help.

[2011-10-11 15:05] #4 closed, assigned to nobody

[2012-12-04 15:03] cforce opened #7 "Compatible with redmine 2.1.x?"

[2012-12-06 15:23] two-pack opened #8 "Pick features from master to features."
'master' branch is obsoleted, and new branch 'features' is created.
Now 'features' already picks some translations, but some patches yet.

I'm going to pick patches on 'master' as soon as possible.

[2012-12-06 15:29] two-pack commented on #7
'master' branch is not compatible with redmine 2.x.
But I imported latest redmine_xls_export plugin from official(*) to 'official' and 'features' branches.
And I checked them to run on redmine 2.1.4.

By the way, 'master' branch has some features which is not included official plugin.
I'm going to apply them to 'features' branch with #8 .

[2012-12-06 15:29] #7 closed, assigned to two-pack

[2012-12-06 15:44] cforce commented on #7
Please expalin in overview site that you inherit from original and what features are added. tx!

[2012-12-25 11:39] two-pack commented on #8
[Problem of patch 'Add to apply date format to Updated and Created.'](https://github.com/two-pack/redmine_xls_export/commit/01312c45697261d9f62adde17345a0a677a758ff) was already fixed on original 0.2.1.
I checked it on Mac OS X10.7.5 and Libera Office 3.4.5.

[2012-12-25 22:36] two-pack opened #10 "Specify cell format for date & time."
Issues have a 4 date & time information, Created, Updated, Start date, Due date.
Created and Updated are datetime format(DD.MM.YYYY hh:mm:ss), others are date format(DD.MM.YYYY).

I want to specify format for above information because some location's commonly date format is different (ex. in Japan YYYY/MM/DD).

[2012-12-25 22:48] two-pack commented on #8
[Feature of patch 'Add to specify format for date column.'](https://github.com/two-pack/redmine_xls_export/commit/ca9fbc2e513e1577085c875c7d6c38316d389112) and translations are going to apply #10 .
Because official plugin from 0.2.0 had a big modification for Redmine 2.x.

Now, all needed patches on master was applied or created issue on github.

[2012-12-25 22:48] #8 closed, assigned to two-pack

[2012-12-30 14:45] two-pack commented on #10
I remade this feature which is different from master branch.

[2012-12-30 14:45] #10 closed, assigned to two-pack

[2013-01-08 13:57] cforce opened #11 "redmine 2.2.- detailed export - missing template"
When i cklick detailed export (Urls is http://redmine.de:3000/projects/bus/issues_xls_export) i get a "missing template" responding with 404

[2013-01-08 14:24] two-pack commented on #11
Please check your installation with follow:
http://www.redmine.org/plugins/redmine_xls_export

and see http://www.redmine.org/boards/3/topics/11986?r=35390#message-35390

[2013-01-08 14:32] cforce commented on #11
Ow. rtfm.. Thanks that helped a lot ;)

[2013-01-08 14:32] #11 closed, assigned to nobody

[2013-01-08 14:34] cforce opened #12 "Import from xls,csv"
Would be great to import from xlsx or csv.

[2013-01-08 15:06] two-pack commented on #12
Please write details of the feature.

NOTE: already some ticket import plugin like:
https://github.com/juno/redmine_importer

[2013-01-08 15:18] cforce commented on #12
The plugin does not work however and i think it shall be conter part for this and therefore included also on issues view with this plugin.

Import shall allow create or update (define issue id column is necesarry) issues from xls(x) and csv files. Updating means creating commecnts on updates, same as duing it manually. Importig must check user rights of course. Every row in table is an issue. Mapp

[2013-01-08 15:30] cforce commented on #12
If you wann check for integrating existing code:
https://github.com/zh/redmine_importer/network
+
https://github.com/vividtone/redmine_importer.git (utf8 charset enahancements)

[2013-01-17 14:32] cforce opened #13 "de locale - utf8 without BOM"
de:
  label_plugin_xlse_legend_0: "Spalteneinstellungen"
  label_plugin_xlse_legend_1: "Exporteinstellungen"
  label_plugin_xlse_legend_1a: "Datumsformat"
label_plugin_xlse_legend_2: "weiter Einstellungen"
  label_plugin_xlse_legend_2_disabled: "Extra options (install rubyzip gem to access them)"

  label_plugin_xlse_relations: "Ticketbeziehungen exportieren"
  label_plugin_xlse_watchers: "Beobach

[2013-01-17 22:28] two-pack opened #14 "Changes version to 0.2.1.t1"
Changes version to 0.2.1.t1.

[2013-01-17 22:29] two-pack commented on #14
Commited https://github.com/two-pack/redmine_xls_export/commit/073dea9d789e805b379b435be1c6a6880dd435b1 .

[2013-01-17 22:29] #14 closed, assigned to two-pack

[2013-01-17 22:54] two-pack commented on #13
This issue's title is 'de locale - utf8 without BOM'.
What mean that?
I think de.yml has not BOM on feature branch.

If you want to contribute this de translation, please pull request for feature branch.

NOTE:
And please check following:
*\* 'Tickjournal' or 'Ticket journal' ?
*\* Why does your 'Ticketbeziehungen exportieren' remove '-' ?

[2013-02-14 22:34] two-pack opened #15 "Invalid zip file with QUICK link."
This problem reported http://www.redmine.org/boards/3/topics/11986?r=35564#message-35564 .
Exported zip file with QUICK link is XLS file in the fact. (changed file extension to check).

[2013-02-14 22:47] two-pack opened #16 "Internal Error 500 is occurred with QUICK export."
### What steps will reproduce the problem?

Internal Error 500 is occurred with QUICK export.
### What is the expected output? What do you see instead?

Zip file with a issue list is exported.
### What version of the product are you using? On what operating system?
- version
  0.2.1.t1
- OS
  Windows 7
- Redmine
  BitNami Redmine Stack Redmine 2.2.2-0
### Please provide any additional information

[2013-02-25 22:12] two-pack commented on #16
The log on production is following.

[code]

[2013-02-25 22:35] two-pack commented on #16
This issue re-procedures on Mac OS X 10.7.5 with Redmine 2.1.4 .

Maybe this error is caused by no initializing date format settings.
When I show _Administration > Plugins > Configure_ above environment, date format settings are empty.

NOTE: Development environment DIDN'T occur the issue, but Production environment occurred it.

[2013-02-28 22:49] #16 closed, assigned to two-pack

[2013-03-12 15:51] cforce commented on #13
pull request send

[2013-03-12 15:51] #13 closed, assigned to two-pack

[2013-03-12 15:54] cforce commented on #15
The exported zip file extracts a file named "Workbook" withiut any extension and non readable. If i rename the file to Workbook.xlsx excle complains in don't know the format and if i rename it to "Workbook.xls" Excel repirts major security problem and proposes not to open file because of trojan security risk!!!!!

Please fix or remove that intruder code, if any.

[2013-03-12 16:00] cforce commented on #15
You have to rename the zip file to anything with .xls extension or configure extension in settings.
However this behavours is strange at however the user configures extension or not the file ending shall be save to *.xls if not part of the configured settings string.

[2013-03-12 22:23] two-pack commented on #15
Please report followings:
- How to re-procedure this problem.
- Your environment with official board. (Including Excel version)
- Image of reporting major security from Excel. (Unfortunately, I have NOT Excel...)

[2013-03-12 22:56] two-pack commented on #15
Official board comment:
http://www.redmine.org/boards/3/topics/11986?r=35675#message-35675

Usually  "(install rubyzip gem to access them)" on settings view is shown only when rubyzip is NOT installed.
But its first action when server run, this message was shown on admin settings.
This problem was fixed abobe commit.

But invalid zip problem is not fixed yet.

[2013-03-13 22:32] two-pack commented on #15
I arrange this issues researching from official board.
- Exported zip file with pressing on the "QUICK" button isn't able to open on Windows.<br/>
  First reporting is on http://www.redmine.org/boards/3/topics/11986?r=35564#message-35564 .
- Environment  is reported on http://www.redmine.org/boards/3/topics/11986?r=35631#message-35631 .
- Exported zip is attached on http://www.redmine.org/boards/3

[2013-03-20 06:44] two-pack commented on #15
I reprocedured this issue with Redmine DMSF Plugin on BitNami Redmine for Windows.
I put following logger into export_to_string() of xls_export_controller.rb.

[code]

#{defined?(Zip::ZipOutputStream::write_buffer)} is "method", but It is null with Redmine DMSF Plugin.
This condition causes the issue because following sentence on the method.

[code]

I'll check where conflict both plugins.

[2013-03-21 10:36] two-pack commented on #15
'zip' and 'rubyzip' libraries conflict causes this problem.
Redmine DMSF Plugin needs 'zip' library, then added it in Gemfile.
Otherwise XLS Export Plugin needs 'rubyzip', but 'require' find 'zip' library. 'zip' has NOT Zip::ZipOutputStream::write_buffer.

I could Quick export after followings:
1. Uninstall 'zip' library using gem command.
2. I did rewrite 'zip' to 'rubyzip' on Gemfile of Redmine

[2013-03-21 10:45] two-pack commented on #15
Many zip libraries are on RubyGems.org now.
http://rubygems.org/search?utf8=%E2%9C%93&query=zip

'rubyzip' is the most downloaded and latest updated.
Because I'll request Redmine DMSF Plugin to change 'zip' library to 'rubyzip'.

[2013-03-21 22:42] two-pack opened #18 "Changes version to 0.2.1.t2"
Changes version to 0.2.1.t2

[2013-03-21 22:49] two-pack opened #19 "Invalid settings view in Administration on Redmine 2.3.0 ."
### What steps will reproduce the problem?
1. Install this plugin 0.2.1.t1 on Redmine 2.3.0 .
2. Administration - Plugins - Configure
3. Check showing view.
### What is the expected output? What do you see instead?

Expected to show settings view, but this is invalid what some control is hidden.
### What version of the product are you using? On what operating system?
#### Environment:

  Redmine v

[2013-03-26 12:28] two-pack commented on #19
I checked it on Redmine 2.3.0 and 2.2.4 with Safari 6.0.3, Chrome 25.0.1364.172, Firefox 19.0 for OS X.

[2013-03-28 10:53] two-pack commented on #15
I pull-requested Redmine DMSF Plugin.
https://github.com/danmunn/redmine_dmsf/pull/110

If you wanna avoid this issue now, please try following:
1. "zip" to "rubyzip" on DSMF Plugin's Gemfile.
2. bundle install again and uninstall 'zip' gem like
$ bundle install
$ sudo gem uninstall zip
3. Restart redmine.

[2013-03-28 10:53] #15 closed, assigned to two-pack

[2013-03-28 22:10] two-pack commented on #19
Already all items are shown on Administration settings view, but layout is invalid.

[2013-03-28 23:06] #19 closed, assigned to two-pack

[2013-03-28 23:16] #18 closed, assigned to two-pack

[2013-04-04 07:06] shadowbq opened #21 "swtich Gemfile from http -> https ruby gems to quelch warning"
In the Gemfile

source :rubygems

-to-

source 'https://rubygems.org'

[2013-04-04 07:06] shadowbq commented on #21
`The source :rubygems is deprecated because HTTP requests are insecure.
Please change your source to 'https://rubygems.org' if possible, or 'http://rubygems.org' if not.`

[2013-04-04 08:49] two-pack opened #22 "Changes version to 0.2.1.t3"
Changes version to 0.2.1.t3 .

[2013-04-04 08:59] #21 closed, assigned to two-pack

[2013-04-04 09:17] two-pack commented on #21
Thanks for your help :)

[2013-05-13 09:45] fred-meng opened #23 "Iconv::InvalidEncoding (invalid encoding ("UTF-16LE//TRANSLIT//IGNORE", "UTF-8"))"
ruby : 1.8.7
spreadsheet: 0.8.5
platform: windows 7
installer: bitnami-redmine-2.0.3-1-windows-installer-r01.exe

I have installed xls_export plugin for redmine, but every time I try exporting an Excel sheet of Issue list, I get the following error:

Iconv::InvalidEncoding (invalid encoding ("UTF-16LE//TRANSLIT//IGNORE", "UTF-8")):
spreadsheet (0.8.5) lib/spreadsheet/encodings.rb:38:in initialize'

[2013-05-13 12:44] two-pack commented on #23
Could you tell me how to re-procedure, issues information, and something you know?
Not enough information for researching.

[2013-05-14 01:03] fred-meng commented on #23
I have followed steps that described in plugin's installation instruction that
1. installed bitnami installer (bitnami-redmine-2.0.3-1-windows-installer-r01.exe);
2. download spreadsheet0.8.5, ruby-ole-1.2.11.6 and rubyzip0.99 , installed them on local server(windows 7);
3. unzip the plugins (redmine_xls_export 0.2.1.t2 and redmine_plugin_views_revisions_v001) to redmine's plugins folder;
4. run c

[2013-05-14 03:40] two-pack commented on #23
I need more informations.
I think iconv error was occured by character code or related things.
1. your language in browser and redmine setting.
2. registered issues list. for examples, subjects, descriptions, and more.

[2013-05-14 09:16] fred-meng commented on #23
1. Simple-Chinese both
2. just a test issue. all of them are several english letters.

[2013-05-14 10:42] two-pack commented on #23
Not re-procedured on OS X 10.7.5.

[2013-05-15 11:24] two-pack commented on #23
I checked on Windows 7 Pro 64bit Japanese with BitNami Redmine stack.
But not re-procedured yet.

Environment:
  Redmine version                          2.2.2.stable
  Ruby version                             1.9.3 (i386-mingw32)
  Rails version                            3.2.11
  Environment                              production
  Database adapter                         Mysql2
Redmine plugins

[2013-05-16 01:52] fred-meng commented on #23
My environment:
redmine 2.0.3
ruby 1.8.7

[2013-05-17 15:26] two-pack commented on #23
The line is in the following method:

The method means only to convert utf-8 to utf-16LE with iconv.
I think 'string' from Redmine database, and you use BitNami Redmine Stack, so its encoding is utf-8.
Your error message indicates too.

I think this issues by iconv with environment.
NOTE: http://stackoverflow.com/questions/4965796/convert-utf-8-to-unicode-in-ruby

If you can update the redmine sta

[2013-05-17 15:26] #23 closed, assigned to two-pack

[2013-06-19 15:15] fidelpd opened #24 "NoMethodError (undefined method `plugin_redmine_xls_export' for #<Class:0xb4ce2548>)"
I have a problem after install redmine xls export plugin. The installation process is correct but when I am going to access to the plugin configuration page I get this error:
NoMethodError (undefined method `plugin_redmine_xls_export' for #<Class:0xb4ce2548>):
app/controllers/settings_controller.rb:68:in`send'
app/controllers/settings_controller.rb:68:in `plugin_without_banner_date_validation'

I

[2013-06-20 23:02] two-pack commented on #24
I couldn't re-procedure the issue with Redmine 2.3.1, Ruby 1.8.7 on OS X 10.7.5.

[2013-06-21 07:57] xvitus opened #25 "custom fields with multiple values"
plugin rev. 0.2.1.t2.  I created a custom field for issues, which accepts multiple values.
If I assign multiple values to this filed in an issue, the exported column only shows one of the multiple values.

[2013-06-22 12:28] two-pack commented on #25
I could re-procedure this issue, and it is the plugin's issue.

[2013-06-23 04:45] #25 closed, assigned to two-pack

[2013-06-23 10:44] two-pack commented on #24
Maybe no conflict of following plugins. I checked them on OS X.

[2013-06-24 23:17] two-pack commented on #24
I checked followings on OS X.

[2013-06-26 12:07] two-pack commented on #24
I could reprocedure this issue on my environment with Time & Expense plugin.

NOTE: Followings are not affected.

[2013-06-26 23:24] cforce commented on #24
Please fix, same here

[2013-06-29 13:24] two-pack commented on #24
I think this issue is caused by Time & Expense plugin.
The plugin uses 'Setting' in init.rb, but it's probably not good practice on Rails.

I changed the plugin which is following patch for init.rb. I cannot check the plugin works fine, but NoMethodError is not appeared.

[code]

See:
http://www.redmine.org/boards/3/topics/16587
http://stackoverflow.com/questions/12474851/setting-configuration-in-

[2013-06-29 13:24] #24 closed, assigned to two-pack

[2013-06-29 23:14] #22 closed, assigned to two-pack

[2013-07-07 23:54] dkmorgan opened #26 "Issue description column duplicated"
I'm using plugin rev. 0.2.1.t3 with redmine 2.3.1.
When I use the detailed export feature and check the issue description checkbox, the resulting excel file contains two issue description columns.
If I don't check the issue description checkbox, the resulting excel file still contains a description column.

[2013-07-11 14:33] githubrs opened #27 "Installation fails"
Hello

it would be really nice if someone can help me.
I wanted to install this plugin but the installation failed: I ran these commands in the terminal and did the following:
  cd /[remine_root]
  gem install spreadsheet
  gem install rubyzip
copied the "plugin views with revision"-plugin
  cd plugins

  rake redmine:plugins:migrate RAILS_ENV="production"
  /etc/init.d/apache2 restart

[2013-07-11 22:04] two-pack commented on #27
You need to run following command after copying Plugin views with revisions and xls export plugin.

Please re-check how to installation.
https://github.com/two-pack/redmine_xls_export#installation-and-setup

If you cannot install yet, please describe the details of your environment(ex. OS, Versions, ...).

[2013-07-12 08:05] githubrs commented on #27
Sorry for my bad description of the issue but it seems that updating the comment failed.
At first my environment:
Debian 7.0
Environment:
  Redmine version                          2.3.1.stable
  Ruby version                             1.9.3 (x86_64-linux)
  Rails version                            3.2.13
  Environment                              production
  Database adapter

[2013-07-12 08:11] githubrs commented on #27
P.S.
that's what i get in the browser:

Ruby on Rails application could not be started
These are the possible causes:

[code]

Further information about the error may have been written to the application's log file. Please check it in order to analyse the problem.

Error message:
    /usr/local/share/redmine-2.3/app/models/setting.rb:136: syntax error, unexpected '-', expecting ';' or '\n' def sel

[2013-07-12 12:18] two-pack commented on #27
If the folder name of redmine_xls_export is 'plugin_redmine_xls_export-features', please change the folder name of redmine_xls_export from

to

[2013-07-15 12:29] githubrs commented on #27
This solved my problem. Thank you very much for the fast help. You did a great job.

[2013-07-15 12:29] #27 closed, assigned to two-pack

[2013-07-17 08:27] githubrs opened #28 "Long description can't be displayed correct"
Hello!

I like your plugin very much and it works also fine. There's only one little thing:
If the issues description is longer than 30 lines excel can't display it correct. Then it shows only a part of the description. For watching the whole description you have to edit the field. There is the same problem with to long comments and it's the same in the journal file. I would suggest splitting the

[2013-07-17 08:35] githubrs commented on #26
I have got the same problem.
This is my Environment:
  Redmine version                2.3.2.stable
  Ruby version                   1.9.3-p194 (2012-04-20) [x86_64-linux]
  Rails version                  3.2.13
  Environment                    production
  Database adapter               PostgreSQL
Redmine plugins:
  extended_top_menu              0.0.1
  redmine_plugin_views_revisions 0.0.1
  redm

[2013-07-19 05:54] okamototk opened #29 "Detailed link is broken"
At Issues view, XLS export  'Detailed' link is broken.
404 error occurs when I clicked 'Detailed' link.

[2013-07-19 07:01] two-pack commented on #29
Please check your installation, especially run rake for redmine change revision plugin.
If you don't resolve the issue after that, please tell me your environment and more information to reprocedure it.

[2013-07-19 08:08] okamototk commented on #29
Thanks for quickly reply. I tested on Redmine 2.3.1. Other functions are working. Just Detail link is not work.

regards

[2013-07-20 02:21] two-pack commented on #29
Did you check your installation?
https://github.com/two-pack/redmine_xls_export#installation-and-setup

If you didn't following rake, 404 is occured because a html file wasn't created.

[2013-07-20 02:57] two-pack commented on #28
I understand your opinion, but it's not a bug. It depends on our environment like display resolution, zoom size, and more.
And I think the description which has over 30 lines is (should be) a few case.

In your use case, why do you need issues description in exported xls?
If you don't need it, 'Export description' option should be off (but now the plugin has #26 :( ).

[2013-07-20 09:57] okamototk commented on #29
Sorry, I use rake redmine:plugin:migrate to install.

[2013-07-20 09:57] #29 closed, assigned to two-pack

[2013-07-22 07:34] githubrs commented on #28
Ok, i understand. But is there a possibility to implement a function, to set the maximum number of lines manually.

Thank you for your answer.

[2013-08-24 03:47] two-pack opened #31 "Czech localisation"
Original pull-request is #30 .

Czech localization updated by [Karel Picman](https://github.com/picman) .

[2013-08-24 03:56] #31 closed, assigned to two-pack

[2013-08-24 04:18] two-pack opened #32 "Re-formatting a settings view of date format."
Original pull-request is #30 by [Karel Picman](https://github.com/picman).
Request commit is followings. See https://github.com/picman/redmine_xls_export/commit/97228c2322928fb3f450d1bcaf0a8f1b160c25de .
- Reformats the floating text controls in the plugin settings that were overlapping.
- Appends an info text with default values.

[2013-08-24 07:01] two-pack commented on #32
I committed Re-formatting with following changes.
- I think 'Example' is better than 'Default' because someone may think the plugin uses default value if edit box is blank.
- Other view in Redmine (like Administraion -> Settings -> Repositories) has some information which are implement by _em_ tag and _info_ class.

By the way, second change indicates a same point of view in _Override export limit

[2013-08-24 07:10] #32 closed, assigned to two-pack

[2013-08-25 09:18] two-pack commented on #26
The feature which issues list shows descriptions was added Redmine 2.2.0.
See http://www.redmine.org/issues/3447 .

This problem causes above feature.

[2013-08-26 12:38] two-pack commented on #26
Fixes description column is duplicated on Redmine version 2.2.0 or above.
https://github.com/two-pack/redmine_xls_export/commit/3c66b846e5d1a446713ae2ce2fe9bfad9cfec51b

But spent time column has same problem on Redmine version 1.4.0 or above.
See http://www.redmine.org/issues/971 .

And Id column has similar problem but maybe the reason is different.

[2013-08-28 09:36] cforce opened #33 "cs.yml is buggy"
ActionView::Template::Error (...plugins/redmine_xls_export/config/locales/cs.yml): mapping values are not allowed in this context at line 2 column 3):
    16:   <p><%= f.text_field :firstname, :required => true %></p>
    17:   <p><%= f.text_field :lastname, :required => true %></p>
    18:   <p><%= f.text_field :mail, :required => true %></p>
    19:   <p><%= f.select :language, lang_options_for_

[2013-08-28 11:20] picman commented on #33
Can you try this (in config/locales):

$ irb -ryaml
irb(main):001:0> YAML.load_file 'cs.yml'

Everything is correct on my PC. Can you also append you Rails/Redmine versions.
I've changed the codding style according to the latest standard, so I used:

label_plugin_xlse_relations: Exportovat vazby

instead of:

label_plugin_xlse_relations: "Exportovat vazby"

So without needless apostrophes. Can you

[2013-08-28 11:23] cforce commented on #33
No sorry, i already removed the file and now it works
Using

Environment:
  Redmine version                2.3.2.stable
  Ruby version                   2.0.0-p0 (2013-02-24) [i686-linux]
  Rails version                  3.2.13
  Environment                    production
  Database adapter               Mysql2

[2013-08-28 15:08] #33 closed, assigned to nobody

[2013-08-31 01:37] two-pack commented on #26
I fixed this problem by some commits.
I made a sense of the specification.
- We can export XLS file of issue list.
- We can select exported columns on issue list.
- We can select a description column if we cannot select it on issue list.
- We can select a spent time column if we cannot select it on issue list.
- We don't need settings for exporting description and spent time column if we can selec

[2013-08-31 01:37] #26 closed, assigned to two-pack

[2013-08-31 01:46] two-pack commented on #26
When you use Redmine 1.3.x, you may have a error because the version doesn't have a following patch.
http://www.redmine.org/projects/redmine/repository/revisions/8276

[2013-09-21 23:29] two-pack opened #34 "Changes version to 0.2.1.t4"
Changes version to 0.2.1.t4 .

[2013-09-27 17:38] googol4u opened #35 "When using with 2.3 and click config or detailed export, resulting in 404"
Thanks for your great effort to make this plugin working on 2.2 and 2.3 version of redmine. I am using it with 2.3 version.

When I click config under mangement->plugins or click the detailed export link.  A 404 shows up.

production.log shows the following message:

[code]

Any suggestions?

[2013-09-28 01:05] two-pack commented on #35
See #29.

[2013-09-28 02:16] googol4u commented on #29
I try to run:
rake redmine:plugins:process_version_change RAILS_ENV=production

and get this:

rake aborted!
Don't know how to build task 'redmine:plugins:process_version_change'

[2013-09-28 03:26] two-pack commented on #35
Did you run the rake after 'Plugin views with revisions' installed?

[2013-09-28 07:28] googol4u commented on #35
Sorry.  Because it is not listed in the "Requirements" section.  I have installed  'Plugin views with revisions' and solved the issue. Thank you very much!

[2013-09-28 07:43] #35 closed, assigned to two-pack

[2013-09-28 14:04] #34 closed, assigned to two-pack

[2013-10-07 11:29] cforce commented on #10
Ther sahlle be a helo about how format is used with examples

[2013-10-07 11:49] two-pack commented on #10
I thought this comment was related pull request of #36.
_default_XXX_format_ should be specified like en.yml.

[2013-12-03 10:29] davideraro opened #37 "Private Note are visible"
Private Note are visible when export is done by an user which cannot see the private note.

[2013-12-10 12:01] two-pack commented on #37
Private note is http://www.redmine.org/issues/1554 .

[2013-12-10 12:14] davideraro commented on #37
Thank you for you answer.. Last question, I'm sorry but I'm really new of redmine.. how to add those patch?
Thank in advance

[2013-12-10 12:17] two-pack commented on #37
Thank you for your posting this issue. It is the plugin's issue.
I try to fix it, but need more time. I want to fix it by Milestone 0.2.1.t5.

[2013-12-10 12:20] davideraro commented on #37
ok ;) Thank you and take your time. Please let me know when it will be done in order to update the plugin which is very heasy to use and very useful. Congrats

[2013-12-11 13:42] cforce commented on #37
Yes please, waiting also for this ;)

[2013-12-30 11:22] #37 closed, assigned to two-pack

[2013-12-30 11:24] two-pack opened #39 "Changes version to 0.2.1.t5"
Changes version to 0.2.1.t5

[2013-12-30 23:46] #39 closed, assigned to two-pack

[2014-01-02 11:46] johnp2686 opened #40 "when click detailed XLS export:Detailed at bottom of issues not working"
Hello,

 I have using redmine 2.2.4 i installed redmine_xls_export plugin in issue bottom option quick and detailed ,quik options link is working but detailed option links in not working .any one help regarding this kind of issue

Regards,

John Paul.D

[2014-01-02 12:02] two-pack commented on #40
Please check your installation.
And more information of your issue.

[2014-01-03 04:05] johnp2686 commented on #40
Installtion is correct when click the detailed option hitting error (The page you were trying to access doesn't exist or has been removed.404 error)

[2014-01-03 05:26] two-pack commented on #40
Please show more information.
1) Did you run following rake on installation?
rake redmine:plugins:process_version_change RAILS_ENV=production
2) Version of your this plugin.

[2014-01-03 05:29] johnp2686 commented on #40
i tried
 rake redmine:plugins:process_version_change RAILS_ENV=production

but hitting error rake aborted!
Don't know how to build task 'redmine:plugins:process_version_change'

(See full trace by running task with --trace)

[2014-01-03 05:32] two-pack commented on #40
Check how to install this plugin.
https://github.com/two-pack/redmine_xls_export#installation-and-setup

[2014-01-03 12:05] johnp2686 commented on #40
Your mention  Installation and Setup i did  but i ran this command
rake redmine:plugins:process_version_change RAILS_ENV=production hiting error can u help me for this

[2014-01-03 12:23] two-pack commented on #40
Did you run it on 'redmine_xls_plugin' folder?
Please show the error on console.

[2014-01-03 12:33] johnp2686 commented on #40
## log file

XLS export controller: rubyzip gem not available
OpenIdAuthentication.store is nil. Using in-memory store.
Migrating to CreateNewissuealerts (1)
Migrating to AddPriorityToNewissuealerts (20110722141200)
Migrating to AlterNewissuealertsSetDefaults (20110722144500)
Migrating to AddTemplateToNewissuealerts (20120823125900)
Migrating to AddSubjectToNewissuealerts (20120823145100)
Migratin

[2014-01-03 12:55] two-pack commented on #40
The log has "rubyzip gem not found". Did you succes 'bundle install' on redmine_xls_export folder?

BTW please show commands, console log and path  when you show some information.
I donot know the log what you ran.

[2014-01-06 06:38] johnp2686 commented on #40
I have installed rubyzip gem and bundle installed successfully but again it getting error

[2014-01-06 06:52] johnp2686 commented on #40
I checkout master branch it is ok with  redmine 2.2.4

[2014-01-06 08:48] two-pack commented on #40
Could you show your gem list and plugin list?
I think this issue is like #15 .

[2014-01-06 09:26] johnp2686 commented on #40
Thanks it is works

[2014-01-06 09:34] two-pack commented on #40
It sounds good :)
Please show the reason of this issue, plugin name or something, if you can.
And can I close this issue?

[2014-01-06 09:44] johnp2686 commented on #40
The installation setup i didn't install  Plugin views with revisions that is the problem

[2014-01-06 09:45] #40 closed, assigned to two-pack

[2014-01-06 10:05] johnp2686 opened #41 "When export issue it will not showing status to another status like(new to in progress)"
Hello,

When export issue it will not showing status to another status like(new to in progress ,In progress to resolved ,resolved to closed)  for single issue ,any can help regarding problem

[2014-01-07 10:38] two-pack commented on #41
The plugin exports issues list which is showed in Issues page.
Please add some information columns on Issues page.

Another solution, the plugin has a option which can export issues list with all columns.

[2014-01-08 05:39] johnp2686 commented on #41
I added issue list but  i need
 issue_statuses old_status ON old_status.id = p.old_value
with journal_details

[2014-01-10 13:08] two-pack commented on #41
Please take screen captures of Isses page and plugin settings pages.

[2014-01-16 09:15] johnp2686 commented on #41
I have attached screen shoot mysql query (what i need from this plugin) format as xls
i used sql query for this for format

SELECT u.id Ticket_ID, trackers.name Tracker, enum.name Priority, u.created_on, ug.created_on updated_on, old_status.name from_status,status.name to_status
FROM issues u
JOIN trackers ON trackers.id=u.tracker_id
JOIN enumerations enum ON enum.id = u.priority_id
JOIN journals

[2014-01-16 15:45] two-pack commented on #41
I understand you said, but the plugin hasn't it now.
I try to add it on the plugin, but I need enough time to implement it....

[2014-01-16 16:12] two-pack commented on #41
Does 'Export journal entries' option of the plugin match you want?
You can export 'status to status' on 'Journal' column.

[2014-01-17 06:19] johnp2686 commented on #41
OK Thanks ,can u explain how to  export status to status on journal column

[2014-01-25 01:33] two-pack commented on #41
Use [Columns options] -> [Export journal entries] option.
You can set detail export page or this option the plugin's setting page.

[2014-01-25 01:36] two-pack commented on #41
see following:
![screen](https://f.cloud.github.com/assets/378981/2000616/17566d5e-8561-11e3-8df1-853ae7f963c1.png)

[2014-01-30 10:26] johnp2686 commented on #41
![journal_format](https://f.cloud.github.com/assets/951104/2039009/1b69f4ce-8999-11e3-869d-7262f1272156.png)

Hello ,

I get the journals entries for i asked but i get in issue journals as separate file ,i need all issue in single xls sheet how export single sheet all issue i will send u code and screen shot

redmine_xls_export/lib/xls_export.rb

 def journal_details_to_xls(issue)
        issue_up

[2014-01-30 10:26] #41 closed, assigned to two-pack

[2014-01-30 11:04] johnp2686 opened #44 "export format for issues with journal"
Hello ,

I get the journals entries for i asked but i get in issue journals as separate file ,i need all issue in single xls sheet how export single sheet all issue i will send u code and screen shot

redmine_xls_export/lib/xls_export.rb

def journal_details_to_xls(issue)
issue_updates = issue.journals.all(:include => [:user, :details], :order => "#{Journal.table_name}.created_on ASC")
return nil

[2014-02-14 02:43] tcmaru opened #45 "journal translation missing: ja.field_send_notification"

[2014-02-16 07:02] #45 closed, assigned to nobody

[2014-03-04 08:14] dkmorgan opened #46 "Export fails with redmine 2.5.0"
I'm using plugin rev. 0.2.1.t5 with redmine 2.5.0.
I get the following error:

[code]

[2014-03-11 11:34] johnp2686 opened #47 "issue exporting journal level entries"
Hello,
   Issue exporting journal history  level entries in single spreadsheet i did some modifications in your plugins .I get all issue journal histories but it is exporting separate separate spreadsheets ,I need single spreadsheet in all journal histories
I did modified code below:
location plugin/lib/xls_export.rb

def journal_details_to_xls(issue)

[code]

  if detail.prop_key =="status_id"
[i

[2014-03-12 02:09] tcmaru opened #49 "Redmine 2.5.0 で Internal Error"
こんにちは。
redmine_xls_export 0.2.1.t5 を Redmine 2.5.0で使用したところ、Internal Errorが発生しまして、当たりを付けたいと思いましてアドバイス頂けると幸いです。

Environment:
  Redmine version                2.5.0.stable
  Ruby version                   2.0.0-p353 (2013-11-22) [x86_64-linux]
  Rails version                  3.2.17
  Environment                    production
  Database adapter               Mysql2

logは次のようになっています。

Started GET "/r

[2014-04-03 11:04] #46 closed, assigned to two-pack

[2014-04-03 11:32] two-pack commented on #49
#46 と同様の原因と思われます。Redmine 2.5.0でshow_valueの実装に変更があったことが原因です。
再現ができていないため、 #46 で修正を行った修正で問題が回避できているか確認していただけるでしょうか？

I think this issue is duplicated #46.
Could you check to fix it with commit of #46 because I don't re-procedure it yet.

[2014-04-04 02:35] two-pack opened #50 "label_plugin_xlse_export_name Japanese translation is invalid."
label_plugin_xlse_export_name is "Export name suffix". But "接頭辞" in Japanese translation means "prefix".

[2014-04-04 02:40] #50 closed, assigned to two-pack

[2014-04-08 13:29] naitoh commented on #49
自分も Redmine 2.5.1 & Ruby 2.0.0 で同様の現象が発生しました。
master に #46 の　"def show_value_for_xls(value)" メソッドを追加して確認したところ現象が発生しなくなりました。ありがとうございます。

[2014-04-10 07:37] two-pack commented on #49
@naitoh さん、問題回避の確認と報告有り難うございます。報告を持ってクローズとします。

@naitoh, Thank you for commenting to fix it.

[2014-04-10 07:37] #49 closed, assigned to two-pack

[2014-04-23 12:00] lajish opened #51 "Error 404 while clicking configuring/details export"
Hi there,
I just installed this plugin in Bitnami Redmine 2.5.1. Its Quick export works fine but Detailed export & Configuration links redirects to Error 404 page.

[2014-04-23 12:11] two-pack commented on #51
Did you install Plugin views with revisions plugin and run following rake?

If you did them, please show your error log and OS.

[2014-04-23 12:37] lajish commented on #51
Dear Tatsuya Saito,

Thanks for your valuable support. It was my mistake,  plugin views revisions plugin was not installed in my machine. Right now, everything works fine.

Once again thanks for your early reply.

[2014-04-23 12:47] #51 closed, assigned to two-pack

[2014-05-08 01:31] two-pack opened #52 "DEPRECATION WARNING for the format in template name."
Following warning appears in Issues index page.

Environment: Redmine 2.5.1, ruby 1.9.3

[2014-05-08 01:32] two-pack commented on #52
See http://d.hatena.ne.jp/donghai821/20120206/1328541378

[2014-05-11 08:25] two-pack opened #53 "Smoke testing is needed for checking Redmine version up."
Redmine XLS export plugin has NOT test code. It is not easy to check this plugin compatible for Redmine version up.
I think the test code for smoke testing.

[2014-05-11 12:16] #52 closed, assigned to two-pack

[2014-05-11 12:19] two-pack commented on #53
I added smoke testing.
I checked to pass the test on following environment:
- OS
  Mac OS X 10.9.2
- ruby
  1.9.3p327
- Redmine
  2.5.1, 2.4.5, 2.3.4

[2014-05-11 12:19] #53 closed, assigned to two-pack

[2014-05-12 08:57] two-pack commented on #53
I push some commits (5657acd to d94ddb2) because i missed them.

[2014-05-12 12:21] lajish opened #54 "Exported excel header cell content to be mapped in 'White' font"
One thing towards which I need to draw your attention is that it would be more presentable if exported excel column header fonts comes in 'White' color. Right now, column headers which has background color much closer 'Black' which diminishes cell content visibility. Please check the attached image. Please check the attached image.
![xls export](https://cloud.githubusercontent.com/assets/6768694/2

[2014-05-12 12:46] two-pack commented on #54
I changed font color of column header. Please check following image matches your opinion.
![font_color_is_white](https://cloud.githubusercontent.com/assets/378981/2944441/31369534-d9d3-11e3-8659-4ed9bb656fff.png)

[2014-05-13 03:03] lajish commented on #54
Dear Tatsuya Saito,

Thank you very much for your early response.

Regs,
Lajish Lakshmanan

[2014-05-13 03:24] #54 closed, assigned to two-pack

[2014-05-13 09:24] two-pack commented on #44
Is your request that some columns are added in exported journal history?
The plugin already has exporting journal history which correspond issue page.
What is the purpose of this request format? How to use it? And Is it useful for all users?

[2014-05-13 09:25] two-pack commented on #47
Is your request that all issues journal history are exported to a file?
What is the purpose of this request format? How to use it? And Is it useful for all users?

[2014-05-14 06:42] lajish opened #55 "Exported excel column header row should remain freeze while scrolling down"
I think there should be a feature so that top row i.e. Column header row remain freeze in exported excel by default. This would facilitate the identification of corresponding columns in better way when exported issues are too much. Please incorporate above mentioned suggestion if possible.

[2014-05-14 06:50] lajish opened #56 "Attachment file name in exported excel should be hyperlink to same image file in folder"
I am putting forward a suggestion which i hope will get added to this plugin in future. While exporting issues list to excel with attachments. File name of those exported images are available in a column but it is difficult to find them in folders. My suggestion is to provide a hyperlink in place of attachment file name which can enable only single click action to open in corresponding exported im

[2014-05-15 04:21] two-pack commented on #55
This plugin uses spreadsheet gem to export XLS file.
It is difficult for the plugin to implement the feature because I can't find freezing pane feature in spreadsheet gem.
I think it needs to add the feature to spreadsheet gem.

[2014-05-15 04:45] johnp2686 commented on #47
it is useful for all users why because when export overall report task new-> progress->resolved ->closed get spent time for state  it is very useful

[2014-05-15 04:59] two-pack commented on #56
To implement it needs to set link of relative path because the plugin don't know where it is expanded.
But I can't find how to set link of relative path with spreadsheet and Excel.

[2014-05-15 05:15] two-pack commented on #47
Do you want to get issues status history and NOT need to get journal details and note in same row (like #41 image)?

[2014-05-15 05:17] lajish commented on #56
Hi Tatsuya,

You are right it is not possible to set relative path since user can download
that zip file to anywhere in his/her local machine.
But I have an idea, is it possible to provide redmine link for attachments in
exported excel ?
Please let me share your thought about this.

Regs,
Lajish Lakshmanan

[2014-05-15 05:20] johnp2686 commented on #47
see the journal history have the status changed details  #41 i added first image did u see that we calculated  based on created_on and update_on it is very useful can u help me

[2014-05-15 05:26] lajish commented on #55
Hi Tatsuya,

I can understand this. Now this feature depends on gem specific feature rather
than plugin. Lets hope for incorporation of this feature in upcoming version of
spreadsheet gem. I just put this thing to bring some enhancement to plugin but
right now it is out of your scope.

Anyway, thanks for your precise and immediate response.

Regs,
Lajish Lakshmanan

[2014-05-15 05:29] two-pack commented on #56
Its not possible when issue has multiple attachments because a exported cell of attachment hasn't multiple hyperlink.
I think alternative solution is to create a link of the issue.

For the present, I'll continue to find how to set link of relative path.

[2014-05-15 05:40] two-pack commented on #47
Now journal history is exported in pairs of histories in Issue page.
I think your feature needs other way to export. For example, add new button in Detailed page.

[2014-05-15 05:42] johnp2686 commented on #47
yes

[2014-05-15 05:43] johnp2686 commented on #47
And then issue have many journal history we get all the history and we calculated

[2014-05-15 06:07] lajish commented on #56
Hi Tatsuya,

Yes, link of the issue is better alternative path. How about it, if exported
excels' bud id cell masks its corresponding link.

Regs,
Lajish Lakshmanan

[2014-05-15 10:27] two-pack commented on #56
I implemented that id column has hyperlink to the issue on Redmine.
Can you test this feature? I'll close this request after your test.

[2014-05-15 11:18] lajish commented on #56
I installed new version of plugin and found something which I need to share with you.
In the first picture, i am showing the my redmine setting page where I have mentioned host name for your ready reference.
Now in second picture, the hyperlink is showing 'redmine ' twice due to which it redirects to wrong URL.
I am a newbie to redmine and don't know whether it is right or wrong.
Please check thes

[2014-05-16 01:43] two-pack commented on #56
I fix it. Please test again.

[2014-05-16 04:24] lajish commented on #56
Hi Tatsuya,
I tested it and it is working fine. Tracker ID link is redirecting to correct URL. Thanx for your effort.

[2014-05-16 04:34] #56 closed, assigned to two-pack

[2014-05-16 04:38] lajish commented on #56
You can close this issue :+1:

[2014-05-19 04:26] two-pack commented on #47
I consider this feature's specification.
- Export XLS file like following images (Especially columns) .
  ![xls](https://cloud.githubusercontent.com/assets/378981/3009940/4ba4346a-df0c-11e3-84e6-b8efcb7ba4dd.png)
  - I think columns in #41 are duplicated status **from** and another row's **to**. And Priority hasn't **to** and **from**. Above columns are enough to calculate status changed time.
- *

[2014-05-19 04:58] johnp2686 commented on #47
Thanks very much it is very great full

[2014-05-20 06:18] two-pack commented on #47
I notice I can't know issue's status and priority when it created. So The file has only rows of updated status ( except a row the issue is created).
And by same reason, priority column leaves. For example, first row is set changed status, I can't know priority this time.
I think columns which is able to add to this sheet are informations related the issue at the moment like project name.

[2014-05-20 07:28] two-pack commented on #47
I implement this feature.
Can you check it? After checking it, I'll close this issue and #44 if its ok.

[2014-05-20 07:29] two-pack commented on #44
I implement the feature related this issue. See #47

[2014-05-20 10:10] johnp2686 commented on #47
![error](https://cloud.githubusercontent.com/assets/951104/3025541/e53a1be4-e006-11e3-97e8-24be7b3896f4.png)
I am trying to expert it is hitting error

[2014-05-21 02:26] two-pack commented on #47
Thank you for checking.
I tried to fix the error. Please check it again.

[2014-05-26 05:48] johnp2686 commented on #47
Thanks for response , it is generated status history successfully and one more thing you set(issue ,project,updated(created)on,status) but i need (issue_id,project,created on,updated_on,old status and new status like )

[2014-05-26 09:00] two-pack commented on #47
I change followings with above commit:
- Adds columns, **Issue created** and **Old status(Status from)**, in status histories.
- Changes column name **Updated(Created) on** to **Updated**.
- Changes column name **Status** to **Status to**.

[2014-05-26 09:06] johnp2686 commented on #47
But i need  separate column on created on ,updated on,status,status to

[2014-05-26 09:09] two-pack commented on #47
I already separated them by latest commit(5608e9e).
Please check it.

[2014-05-26 09:11] johnp2686 commented on #47
May i know which branch

[2014-05-26 09:12] two-pack commented on #47
On master.

[2014-05-26 09:18] two-pack commented on #47
I'm sorry I have a mistake.
I committed on features branch.

[2014-05-26 09:20] johnp2686 commented on #47
ok no problem once you done updated me thanks for your interest

[2014-05-26 10:42] #47 closed, assigned to two-pack

[2014-05-26 10:43] two-pack commented on #44
Fixed on #47.

[2014-05-26 10:43] #44 closed, assigned to nobody

[2014-05-27 07:50] #28 closed, assigned to two-pack

[2014-05-27 07:52] two-pack opened #57 "Changes version to 0.2.1.t6"
Changes version to 0.2.1.t6

[2014-06-26 04:40] two-pack opened #59 "Improve Russian translation"
Ivan Rapekas post improvement of Russian translation.
http://www.redmine.org/boards/3/topics/11986?r=42923#message-42923

[2014-06-26 04:54] #59 closed, assigned to two-pack

[2014-06-26 04:54] two-pack commented on #59
I picked up only **label_plugin_xlse_export_format_quick_tooltip**.

[2014-06-27 04:44] two-pack opened #60 "Adds default templates and stylesheet."
Some users failed to install this plugin because they forgot to install **Plugin views with revisions** or run the rake for it. (In this case, they have 404 error.)
See http://www.redmine.org/boards/3/topics/11986?r=42236#message-42236

**Plugin views with revisions** for this plugin is needed for older version Redmine.
If this plugin has default templates and stylesheet (for recent Redmine), I th

[2014-06-27 04:50] two-pack commented on #60
The commit has files which was created on Redmine 2.5.1.

[2014-06-27 04:50] #60 closed, assigned to two-pack

[2014-06-30 00:52] #57 closed, assigned to two-pack

[2014-06-30 00:54] two-pack opened #61 "Changes version to 0.2.1.t7"
Changes version to 0.2.1.t7

[2014-07-01 17:24] martin-at-schorsch opened #62 "redmine_tweak and redmine_xls_export do not work together"
redmine_xls_export does not work when redmine_tweak (0.45 - http://github.com/alexandermeindl/redmine_tweaks) is installed too.

The problem looks simular to #24, but I do not understand the patch you did back then or the links you provided well enough to provide a solution for this matter.

log message:

[code]

[2014-07-02 06:13] two-pack commented on #62
This problem is different from #24.

redmine_tweak calls **Setting[:plugin_redmine_tweaks]** in hooks.rb:25 from init.rb:79. The call starts to initialize plugins settings **before completed ALL plugins registration**.
It is not redmine XLS export's problem (I think other plugins may have same problem with redmine_tweak).

By the way, I put away the error after enclosing last block in init.rb like

[2014-07-02 06:13] #62 closed, assigned to two-pack

[2014-07-08 00:07] ChauChicken commented on #62
attempts with this

in init.rb redmine_tweaks

[code]

obviously without the '+' ;)

[2014-07-10 15:55] martin-at-schorsch commented on #62
I can conform that this patch is working. As far as I was able to test the plugin, it works just fine, no sideeffects detected.
I will report this patch to the redmine_tweak project!
Thx!

[2014-07-11 11:34] lajish commented on #61
Hi Tatsuya,

What all changes are you planning to incorporate in t7 version ?

[2014-07-11 11:44] two-pack commented on #61
Now, fixing bugs which are issued up to release t7 version.
If someone will issue new features, I may implement it if I have enough time.

[2014-07-11 11:55] lajish commented on #61
Hi there,
If I find any new requirement/issue then I will surely share it with you. BTW this plugin is superb.
:+1:

[2014-07-11 15:04] duboisst opened #63 "All attachments are coorupted"
Hi,

I have just installed your plugin.
When I choose to export attachments, the files are exported in the zip file but they are all 1ko size and are corrupted.
Any idea of what could cause that ?

[2014-07-11 22:43] two-pack commented on #63
Did you do _bundle install_ when you installed? See https://github.com/two-pack/redmine_xls_export#installation-and-setup

Can you tell me more information?
- How to re-procedure
- OS
- Redmine version
- Plugin version
- Other plugins you install
- gems list

And can you upload exported zip file?

[2014-07-16 06:46] two-pack commented on #29
What is version of the plugin and Redmine?(2.5.1 or other?)
And can you show more information like logs?

BTW this problem is like #29, but I closed #29 with invalid installation.
Please make new issue of your problem.

[2014-07-16 07:04] indraveni opened #64 "redmine_xls_export - Details Report link is broken"
My Installation has, Redmine : 2.5.1-stable

I have Redmine plugin views revisions plugin installed and spreadsheet installed. But rubyzip is shown as if its not installed, where in by bundle show is listing rubyzip. But I don't think rubyzip is having any dependency with Detailed report.

Problem : On clicking Detailed option next to quick in the issues page, I get Page not found error message.

[2014-07-16 07:05] indraveni commented on #29
Created New Issue at #64
https://github.com/two-pack/redmine_xls_export/issues/64

On Wed, Jul 16, 2014 at 12:16 PM, Tatsuya Saito notifications@github.com
wrote:

[2014-07-17 00:28] two-pack commented on #64
What verison do you use the plugin? 0.2.1.t6 or older? You can check it at Administration - Plugins page.
According to the log, I think following rake wasn't run with 0.2.1.t5 or older (maybe app/views folder doesn't exist).

[code]

If it's true, you should use 0.2.1.t6 which doesn't need the rake command.

But I don't know why your screenshot is shown with your log. Redmine should show error pag

[2014-07-17 00:36] two-pack commented on #64
I cannot re-procedure it with
- Redmine 2.5.1 and 2.5.2
- Plugin 0.2.1.t6
- OS X 10.9.3
- Chrome 35.0.1916.153
- No other plugins

[2014-07-17 05:55] indraveni commented on #64
Hi,

I am working on 0.2.1 version of the plugin. Now freshly installed
redmine_xls_export - 0.2.1.t6 version.

Now the problem resolved. Thankyou

Regards
Indra Veni

On Thu, Jul 17, 2014 at 6:06 AM, Tatsuya Saito notifications@github.com
wrote:

[2014-07-17 06:03] #64 closed, assigned to two-pack

[2014-07-17 10:05] duboisst commented on #63
I'm really sorry. It was a redmine configuration issue on my testing environment.
Everything works as expected.

[2014-07-17 10:05] #63 closed, assigned to two-pack

[2014-07-22 11:39] two-pack commented on #64
The screenshot is re-procedured when plugin folder name is NOT **redmine_xls_export**.

[2014-07-23 09:29] two-pack opened #65 "CI environment"
The plugin has test code, but no CI environment.
I want to develop CI environment using Travis-CI.

[2014-07-23 10:23] two-pack commented on #65
I developed CI environment using Travis CI.
https://travis-ci.org/two-pack/redmine_xls_export

[2014-07-23 10:23] #65 closed, assigned to two-pack

[2014-07-23 10:42] lajish commented on #65
.. +1

[2014-07-24 13:10] csikkeld opened #66 "Links Quick and Detailed are not visible"
Hello,

I have a problem. I have installed plugin following instructions, but links Quick and Detailed are not  visible.

Thanx for answer in advance

David Csikkel

---

Environment:
  Redmine version                2.5.1.stable
  Ruby version                   2.0.0-p481 (2014-05-08) [x86_64-linux]
  Rails version                  3.2.17
  Environment                    production
  Database ada

[2014-07-25 00:34] two-pack commented on #66
I cannot re-procedure this problem. I did on above environment with
- OS X 10.9.4.
- redmine_agile-1_3_2-light.zip

Please check followings if you can:
- Can you show configuration page of redmine_xls_export?
- Can you get a screenshot of your Issues page (of cource, links are invisible)?
- Can you try with only redmine_xls_export?

[2014-07-25 08:43] csikkeld commented on #66
OS: CentOS 6.5
- Can you show configuration page of redmine_xls_export?
  Yes, configuration page is accessible.
- Can you get a screenshot of your Issues page (of cource, links are invisible)?
  Screenshot of "View all issues":
  ![image](https://cloud.githubusercontent.com/assets/8257111/3699687/4c4f90da-13d7-11e4-91d5-aeca549332b3.png)
- Can you try with only redmine_xls_export?
  I will try it

[2014-07-25 08:53] csikkeld commented on #66
After uninstallation of Agile plugin the same result :-/

[2014-07-25 08:54] two-pack commented on #66
Links Quick and Detailed are not visible when issues page has no data to display.
Please check again with some issues.

[2014-07-25 09:00] csikkeld commented on #66
OK, this was the root cause :-)
I have assumed that it behaves like standard CSV/PDF export.
Thanx a lot.

[2014-07-25 09:02] #66 closed, assigned to two-pack

[2014-08-26 18:01] NezumiRyu opened #67 "Internal error: Redmine 500 error: NoMethodError (undefined method `h'"
Hello,

I try to update redmine from 2.3.x to 2.5.2.

After lot of work i have that error:

Started GET "/projects/project/issues_xls_export_current" for 10.0.1.1 at 2014-08-26 18:00:04 +0000
Processing by XlsExportController#export_current as HTML
  Parameters: {"project_id"=>"project"}
  Current user: user (id=1)
Completed 500 Internal Server Error in 323.4ms

NoMethodError (undefined method `h'

[2014-08-26 23:06] two-pack commented on #67
Your problem is like #46.
What version of plugin do you use?
If you use older version, please use 0.2.1.t6.

[2014-08-27 08:10] NezumiRyu commented on #67
Redmine Code Review plugin 0.6.3
Redmine Issue Templates plugin 0.0.9
Redmine plugin views revisions plugin 0.0.1
Issues XLS export 0.2.1

I don't understand what i need to do to fix it.
On redmine version 2.3.x all works.

edit1:
r 2.3.x XLS export:Quick works
r 2.5.x XLS export:Quick error

When i check "Export selected columns only" works, but i need to fix all.

edit2:
I have gem rubyzip (1.1.

[2014-08-27 08:17] two-pack commented on #67
Update the plugin 0.2.1 to 0.2.1.t6.
See https://github.com/two-pack/redmine_xls_export#installation-and-setup

[2014-08-27 08:32] NezumiRyu commented on #67
Works. Thx.

[2014-08-27 08:32] #67 closed, assigned to two-pack

[2014-09-24 00:24] two-pack commented on #61
This milestone has no changes with the product code.
So I decide to postpone the release 0.2.1.t7 in 3 months.

[2014-09-24 11:40] ppoektos opened #68 "Possible conflict with issues controller"
Your plugin somehow causes that one redmine function doesn't work.

http://www.redmine.org/issues/16568

[2014-09-24 11:59] two-pack commented on #68
Do you reprocedure this problem after uninstalling redmine xls export?
This plugin effects Issues list page, NOT changeset page.

[2014-09-25 00:39] two-pack commented on #68
This plugin does NOT effect issue page too.
Please check to reproduce this problem after uninstalling redmile xls export.
If reproduce it, reason of this problem isn't this plugin.

[2014-09-25 06:39] ppoektos commented on #68
Thanks. Will do this.

On Thu, Sep 25, 2014 at 3:39 AM, Tatsuya Saito notifications@github.com
wrote:

##

Best / ó ÎÁÉÌÕÞÛÉÍÉ ÐÏÖÅÌÁÎÉÑÍÉ

 _Pavel Potcheptsov_

   LLC EKTOS-Ukraine

System administrator

   1, Academika Proskury

Mobile UA: +38 050 3642391

Home UA: +380 572 931115

   61070 Kharkiv

   www.ektos.com.ua http://www.ektos.net/

E-mail:

ppo@ektos.net

  Skype:      potcheptsov.pav

[2014-09-29 16:13] cmuller opened #69 "Custom fields of type Integer/Float etc. are considered strings"
We have custom fields that are of type 'Integer' and before (in 0.2.1.t3) they appeared as such in an XLS export. But now (0.2.1.t6) there is a quote in front of them (in their Excel or Libreoffice cel)l and they cannot appear for example in a `sum(...)` formula. it seems to me that this has changed since the refactor coming with #25 where a big case on `c.custom_field.field_format` has been repla

[2014-09-29 17:06] angruche opened #70 "Conflict with redmine_category_tree plugin"
After install redmine_category_tree plugin, add a few categories to issues, redmine_xls_export fails:

NoMethodError (undefined method `h' for #<XLS_JournalQueryColumn:0x3a7c17a2>):
  app/helpers/issues_helper.rb:307:in`show_detail'

Environment info:

Environment:
  Redmine version                2.5.2.stable
  Ruby version                   1.9.3-p392 (2014-09-03) [java]
  Rails version

[2014-09-30 09:46] two-pack commented on #69
Thank you for reporting. It's a bug. Please wait to fix.

[2014-10-01 05:18] two-pack commented on #70
redmine_category_tree plugin conflicts redmine_xls_export.
I added new code to handle issue category for redmine_category_tree.
In XLS file, issue categories are separated by ">", like "parent > child".

[2014-10-01 05:25] two-pack commented on #70
I tested with redmine_category_tree version 0.0.5.

[2014-10-01 05:28] #70 closed, assigned to two-pack

[2014-10-01 06:05] #69 closed, assigned to two-pack

[2014-10-02 08:52] cmuller commented on #69
Thanks a lot! I tested it with Integer-type of custom fields and it works well.

[2014-10-02 16:33] angruche commented on #70
Tested and ok, thanks!!!

[2014-10-17 07:26] fengyedou opened #71 "export attachments broken and 2 repeated issue id columns in the exported xls"
Installation steps:

1.I installed rubyzip gem, and there is such line In the \BitNami\redmine-2.3.2-0\apps\redmine\htdocs\gemfile.lock after installing that gem
     rubyzip (1.1.6)
     rubyzip (>= 1.0.0)

2.migrate as redmine plug-in common steps.

Question:

I have seen this note, I am not sure of that meaning, that means I need to remove rubyzip line FORM gemfiile.lock I listed above? I donot

[2014-10-17 08:53] two-pack commented on #71
This plugin requires zip-zip gem if you use ruby-zip >= 1.0.0.
I do not know your installation is success or not. I tested with bundler only. Can you try use bundler for install?
Note that you need --no-deployment option with bundle install if you use BitNami Redmine.

[2014-10-17 08:58] two-pack commented on #71
See #43.

[2014-10-17 11:50] two-pack commented on #71
Maybe it's caused missing zip-zip. In my environment, OS X 10.9.5, only rubyzip without zip-zip and Redmine 2.3.2, I have a zip file but unzipped file is invalid file.

Is this same way to reproduce? extracted xls file?
Or did NOT you set to export attachments?

[2014-10-17 12:06] two-pack commented on #71
What version of this plugin do you use? 0.2.1.t6?

[2014-10-20 08:28] fengyedou commented on #71
HI,

i DOWNLOAD FORM GITCLUGB,the latest version:0.2.1.t6.
I removed the plug-in and re set up again like below, My installation step is:

1)bundle install -
2)although bundle install is performed, rubyzip1.1.6 and zip-zip 0.3 are not installed automatically, so I download them from rubygems.org and installed the 2 gems.
3)migrate the plug-in

Then in the gemfile.lock there are 2 lines:
    Line 1

[2014-10-20 08:41] fengyedou commented on #71
By the way,  I checked gemfile.lock, spreadsheet (0.9.7) is in that file, too.

[2014-10-20 08:45] two-pack commented on #71
Please try to run bundler in Redmine root folder, not plugins folder.
Have any changes?

[2014-10-20 12:11] two-pack commented on #71
Using BitNami Redmine 2.3.2-3 on Windows (Clean install), I tried to run bundle install like following.
I succeeded bundler. And after restarting Redmine, exported files (zip and xls) have no problem.

[code]

I cannot reproduce it, so I need more information for researching...
What do you install other plugins? Can you try clean environment like above?

[2014-10-20 12:23] two-pack commented on #71
Version 0.2.1.t3 had id duplicated issue #26. But already fixed it.

[2014-10-20 12:29] two-pack commented on #71
Attached images here. Only images, no exported xls file?
![config-export-extract](https://cloud.githubusercontent.com/assets/378981/4701069/a0037b58-5854-11e4-83cf-acb0729fd7d5.png)
![repeated issue id for exported xls](https://cloud.githubusercontent.com/assets/378981/4701070/a00e7bd4-5854-11e4-97fd-c4c72cc4f472.png)
![setup](https://cloud.githubusercontent.com/assets/378981/4701071/a0409470-5854

[2014-10-21 01:24] fengyedou commented on #71
Sorry, our company xls file cannot be opened outside, so I donot send the file just gave a snapshot of the xls. The 1st column is issue id, the 2nd column is still issue ID, it is exported xls file, the configuration you can see above pictures.

[2014-10-21 02:08] fengyedou commented on #71
Hi, it is good news that I have succeed!!! I downloaded the lateste version and run bundle install as you guide, then all the issues including repeated columns are fixed!!!

Can I ask more about some features?

1.there is Date format options in the plug-in configuration, if I change all the date format to yyyy.mm.dd, then the default redmine date format "09/15/2014 02:36 pm" will be changed to 201

[2014-10-21 02:16] fengyedou commented on #71
Can I submit a requirement?

1.I found the xls report detailed option has not have "export description", I download another older version, there is such feature, can you add it to the latest release? It is really important info. for an issue, now I cannot export description in the issue list.

2.I have checked created date format, if I set in the date format option with "yyyy.mm.dd", the exported

[2014-10-21 02:22] fengyedou commented on #71
By the way, I check the plug-in version I installed, it is 0.2.1.t6, I download this release from https://github.com/two-pack/redmine_xls_export/releases

//////here are the configuraton items in the plug-in, there is not a "export descriptions" option, but if I download from here "https://github.com/two-pack/redmine_xls_export" directly(at the right side, there is a "Download ZIP "), it has such

[2014-10-21 03:37] two-pack commented on #71
Sound good :)

Many questions you wrote are off topic of this issue.
So please issue new one and each one if you think they are problems. If not, please use forum.
After I will answer them.

[2014-10-21 03:37] two-pack commented on #71
Sound good :)

Many questions you wrote are off topic of this issue.
So please issue new one and each one if you think they are problems. If not, please use forum.
After I will answer them.

[2014-10-21 03:54] fengyedou opened #72 "export descriptions option again"
I check the plug-in version I installed, it is 0.2.1.t6, I download this release from https://github.com/two-pack/redmine_xls_export/releases

//////here are the configuraton items in the plug-in, there is not a "export descriptions" option, but if I download from here "https://github.com/two-pack/redmine_xls_export" directly(at the right side, there is a "Download ZIP "), it has such option "expo

[2014-10-21 03:55] fengyedou commented on #71
OK, i WILL SUBMIT a new issue and a new feature ruquest.

[2014-10-21 03:58] fengyedou opened #73 "Feature description questions"
Can I ask more about some features?

1.there is Date format options in the plug-in configuration, if I change all the date format to yyyy.mm.dd, then the default redmine date format "09/15/2014 02:36 pm" will be changed to 2014.09.15 in the exported xls file?

I think it is very great feature for statistics.

2."Export journal entries "-----if it is chosen, the exported issue report will have one

[2014-10-21 04:00] fengyedou commented on #73
I think if release notes has more examples for describing the features, it will help much to understand how to use the new features.

[2014-10-21 04:02] fengyedou opened #74 "A required new feature about date format"
I have checked created date format, if I set in the date format option with "yyyy.mm.dd", the exported created date still show"2014/10/20 5:16:16", can you optimize that? if format is "yyyy.mm.dd",then show "2014/10/20",if format is "yyyy.mm.dd hh:mm:ss", the exported date show "2014/10/20 5:16:16".

That is the feature I think will be good for issue data analysis when the date format can be handl

[2014-10-21 08:31] #71 closed, assigned to two-pack

[2014-10-21 08:37] two-pack commented on #72
That option is deprecated.
You can select description column on Redmine issues page option. If you select it, the plugin exports with description.
See #26.

[2014-10-21 08:46] two-pack commented on #74
Please more information to reproduce it.
OS
Redmine version
Plugin version
App to open xls and version
Other plugins you install

[2014-10-21 08:54] fengyedou commented on #26
Hi,

I know redmine has description option for issue list, but that needs to select each time when you want to export issues, the description option canot be fixed, if developer forgets to select from redmine option, it needs to export again.

But if the plug-in has the exported description option, it can be fixed during plug-in configuration.
Is there any way to handle this request? I hope the de

[2014-10-21 08:55] fengyedou commented on #72
Sorry, I post wrong place.

Hi,

I know redmine has description option for issue list, but that needs to select each time when you want to export issues, the description option canot be fixed, if developer forgets to select from redmine option, it needs to export again.

But if the plug-in has the exported description option, it can be fixed during plug-in configuration.
Is there any way to handle

[2014-10-21 09:06] two-pack commented on #72
It's by design.
I need many time to implement your request, but not enough time.

[2014-10-21 09:19] fengyedou commented on #72
And I found redmine default exported csv will put "description" at the last column, if the description is checked, but exported xls will put "description" at the 2nd column, can it be an option for the description postion? We have so many statistics work, so we define the issue list template to do that, and put the description at the last column as default redmine format, if we use xls export, we

[2014-10-21 09:21] fengyedou commented on #72
I see, if there is not so much time to implement a fix description export in the plug-in, we can custom query in redmine and make the query fixing description and guide developers to use query to export, not directly using issue list, it is a way to resolve, though a bit hard to change developer's habbits.

[2014-10-21 09:26] fengyedou commented on #74
I uses bitnami-redmine 2.3.2, we installed the redmine under windows 2008 server.

Now the exported xls file shows date as "2014/10/20 5:16:16", if it can be chosen to show "2014/10/20" and also be chosen to shown "2014/10/20 5:16:16", it will be better for analysis.

Now my method is to handle the date with excel formula after exported the file. It is not direct way.

My env. info is below:

Envi

[2014-10-21 11:44] two-pack commented on #73
1. and 2. are yes.

If issue number is 1, journal file name is `00001_journal_details.xls`.

If you use **Group result by** on Issues page, exported xls has multiple sheets by group.

I don't know meaning of this option :(
I'm not original author of this plugin (see readme), so I don't understand some functions.
Maybe no difference now, I check Redmine 2.4.6.

[2014-10-21 11:50] two-pack commented on #74
I try to reproduce it in bitnami-redmine 2.3.2, but I cannot reproduce it.

[2014-10-22 01:45] fengyedou commented on #74
Hi, have you try to export a xls file and check the date?

1.I config the plug-in with Date format options

Created: yyyy.mm.dd
Updated: yyyy.mm.dd
Start date: yyyy.mm.dd
Due date: yyyy.mm.dd

2.Go to issue page, and issue list shows data format like:
 Created: 09/30/2014 02:33 pm
 Closed: 09/30/2014 02:38 pm
 Start Date: 09/30/2014
 Due Date: 10/01/2014
 Updated: 09/30/2014 02:38 pm

They are red

[2014-10-22 01:51] fengyedou opened #75 "Exported xls's date contens doesn't show local timezone"
I found is the time shows maybe the US timezone or other country's timezone, e.g in our timezone, the created date is 09/30/2014 02:33 pm, but the exported xls shows 2014/9/30 6:33:19, seems 8 hours earlier, I think there need a timezone option in the plug-in configuration, I have set the timezone in my account with Beijing Time, but exported xls still shows other timezone time.

The timezone of o

[2014-10-22 01:53] fengyedou opened #76 "A new feature---add "Closed" to date foramt options"
Can you add "Closed" to "Date format options ", now there is start date, due date, updated, created, but lack of "Closed", I think it is key info. for to know the real closed date for an issue.

[2014-10-22 02:01] fengyedou commented on #76
Sorry, I donot know if you have see another plug-in issue I submitted, you can check it here.
http://www.redmine.org/boards/3/topics/29545

I download the plug-in using download zip from "https://github.com/logical-and/redmine_smart_issues_sort"

[2014-10-22 08:35] two-pack commented on #74
By design. This plugin set cell format, not change values.

[2014-10-22 08:36] #74 closed, assigned to two-pack

[2014-10-22 08:41] two-pack commented on #76
Why do you indicate that plugin?

[2014-10-22 09:46] fengyedou commented on #76
Is that redmine_smart_issues_sort" reated by you? maybe I make a mistake...

[2014-10-22 09:47] fengyedou commented on #74
So  it is not designed to change value, right? I see... then I need to handle with the value with excel formula.

[2014-10-22 09:47] fengyedou commented on #76
Can you have that Closed to be added in the date format option?

[2014-10-22 09:57] two-pack commented on #74
I implemented only to set cell format.
I think this plugin shoud NOT change raw values from Redmine.
So I do not think to implement you request, and issue was closed.

[2014-10-22 11:12] two-pack commented on #76
Maybe yes. I'm going to implement it when I have enough time.

[2014-10-22 11:25] two-pack commented on #75
I reproduced it. I think using local timezone is better.
But need much time.

[2014-10-22 11:31] two-pack opened #77 "Export relations option does not work."
Export relations option does not work.
This option should switch visibility of **Related issues** column.

[2014-10-22 11:31] two-pack commented on #73
I think this option switches visible of **Related issues** column.
I issue this problem #77.

[2014-10-22 11:31] two-pack commented on #73
I answer all questions.

[2014-10-22 11:31] #73 closed, assigned to two-pack

[2014-10-23 01:05] fengyedou commented on #74
OK, I understand:) Thanks.

[2014-10-23 01:07] fengyedou commented on #75
I think there are 2 ways, 1 is to give a option to select timezone in plug-in configuration, then different country's guys can choose to export issue with the right date of their own timezone, the other is automatically utilizing the timezone the user account sets, I donot know t he difficulty, maybe needs much time, but I do belive it is a mandatory feature, if using by guys around the world, app

[2014-10-23 01:45] fengyedou commented on #77
Yes, thanks, I have catched all the explaination for the options, hope to get the fix of related issues.

[2014-10-23 01:46] fengyedou commented on #76
Ok, I will keep on following your implementation:)

[2014-10-25 04:59] two-pack opened #78 "Travis CI build is broken with Rails4 supported Redmine."
Following build is broken.
https://travis-ci.org/two-pack/redmine_xls_export/builds/38990367

Log

[code]

[2014-10-30 01:00] fengyedou commented on #61
Hi, will 0.2.1.t7 include #75 #76 #72?

[2014-10-30 03:33] two-pack commented on #61
Maybe no, sorry.

[2014-10-30 03:42] fengyedou commented on #61
Then they will be included in future version but not t7, right?

[2014-10-30 03:47] two-pack commented on #61
Yes, but I don't know when implemented. I'm very busy now.

[2014-10-30 04:00] fengyedou commented on #61
That will be OK, I will continue to follow your update, thanks very much:)

[2014-11-01 03:45] #78 closed, assigned to two-pack

[2014-11-01 04:44] #77 closed, assigned to two-pack

[2014-11-01 05:21] #76 closed, assigned to two-pack

[2014-11-01 06:52] #75 closed, assigned to two-pack

[2014-11-03 01:07] fengyedou commented on #77
How this works? I updated the plug-in and export with relations selected, and confirm there is issue having related issues, but from the exported xls file, no relation issues column displayed.

Can you take an example?

[2014-11-03 02:31] two-pack commented on #77
You have to select relations on issues page or uncheck **Export selected columns only**.
And **Export relations** option is unchecked, relations column is not exported.

[2014-11-03 02:36] two-pack commented on #77
Export relations is not useful because you can switch exporting or not using issues pages option.
I think that option will be removed. That reason is like #72.

[2014-11-04 01:43] fengyedou commented on #77
thanks:)　Ｉ　ｓｅｅ

[2014-11-16 13:28] yquenechdu opened #80 "Bug with Redmine 2.5.2"
Hi,

I installed a Redmine 2.5.2 clean version. After install plugin redmine_xls_export, I obtain this message  :

/home/opt/redmine/app/models/setting.rb:138: syntax error, unexpected '-', expecting ';' or '\n'
    def self.plugin_redmine_xls_export-features
                                       ^
/home/opt/redmine/app/models/setting.rb:140: syntax error, unexpected keyword_end, expecting $end (

[2014-11-16 21:37] two-pack commented on #80
Where did you install this plugin?
You MUST install to plugins/redmine_xls_export .

[2014-11-16 22:43] yquenechdu commented on #80
When I install the download package, I obtain this error message. But with a git clone, I have no problem.
Excuse me, for the disturb

Regards
Yannick

[2014-11-16 22:43] #80 closed, assigned to nobody

[2014-12-27 02:44] #61 closed, assigned to two-pack

[2015-01-13 08:03] two-pack opened #81 "Support Redmine 2.6.1"
Redmine 2.6.1 is released on 2015-01-11.
Check to run this plugin on new Redmine.

[2015-01-13 08:09] two-pack commented on #81
Result of test code is all ok.
And simple exporting is success.

[2015-01-13 08:21] #81 closed, assigned to two-pack

[2015-01-19 05:15] thambley opened #82 "Routing error when exporting all issues using detailed export"
To recreate:
1. Click on "Projects" (/projects)
2. Click on "view all issues" (/issues)
3. Click on detailed export link (GET /issues_xls_export)
4. Set options and submit using Export button. (POST /issues_xls_export)
5. 404: Page not found

[2015-01-19 07:58] two-pack opened #83 "Changes version to 0.2.1.t8"
Changes version to 0.2.1.t8

[2015-01-19 09:09] #82 closed, assigned to two-pack

[2015-02-20 08:49] popy2k14 opened #85 "html tags in exported xls (desciption, journals..) when using ckeditor plugin"
I am using ckeditor as default text editor in redmine.
After export an xls of issues the description, journals includes all html tags.
I have fixed this issue on my local version based on t7.

Here is the fixed file:
http://www37.zippyshare.com/v/qqtFH2lT/file.html

Keep up the good work!
Please include it in upcomming releases.

thx

[2015-02-20 09:01] two-pack commented on #85
@popy2k14 , Thank you for contributing :)
Please tell us more details to fix, purpose, how to, and more.

BTW Cloud you use pull-request?

[2015-02-20 09:13] popy2k14 commented on #85
Yes when you dont use ckeditor the issue shouldnt come up because the text has no html tags :)
Here is a unified diff patch: http://www32.zippyshare.com/v/YwebS99Y/file.html

[2015-02-20 10:47] two-pack commented on #85
- Are html tags included ONLY in description and journals?
- Please tell me input description html and expected output text for test.
- What version of nokogiri do you use? latest?

[2015-02-20 11:12] popy2k14 commented on #85
- Are html tags included ONLY in description and journals?
  -> yes, so it was in my case. With my fixed version i cant find any html tags elsewhere in the exported xls.
- Please tell me input description html and expected output text for test.
  -> just use ckeditor as default text plugin and create a ticket where you use lists, enter and so on. When you export this with your latest t7 version th

[2015-02-20 11:19] popy2k14 commented on #85
Yep, this plugin in version 1.0.16.

[2015-02-20 11:21] two-pack opened #86 "Test on Redmine 2.6.2 and 3.0.0"
Test on Redmine 2.6.2 and 3.0.0.

[2015-03-01 08:46] two-pack commented on #86
Test is pass on 2.6.2.
And simple exporting is success.

[2015-03-01 08:50] two-pack commented on #86
Error with test on 3.0.0.

[code]

[2015-03-04 11:24] two-pack commented on #86
Erros with test on 3.0.0. 2.6.2 has no error.

[code]

[2015-03-08 01:45] two-pack commented on #86
I remove configure_page_default_values_test.rb because settings which set on other test are NOT reset.
The tests are not important, so remove them.

[2015-03-08 02:08] two-pack commented on #86
All test is pass on Redmine 3.0.0.

[2015-03-08 02:08] #86 closed, assigned to two-pack

[2015-03-08 06:35] two-pack commented on #85
I merge your patch and add option to strip HTML tags or not.

[2015-03-08 06:50] #85 closed, assigned to two-pack

[2015-03-08 12:12] popy2k14 commented on #85
thx, pOpY

[2015-03-19 10:10] two-pack opened #88 "Test on Redmine 2.6.3 and 3.0.1"
Test on Redmine 2.6.3 and 3.0.1.

[2015-03-19 10:52] two-pack commented on #88
Simple exporting has no probleam, and all test code is pass.

[2015-03-19 10:52] #88 closed, assigned to two-pack

[2015-03-21 09:36] #83 closed, assigned to two-pack

[2015-04-01 07:21] fengyedou opened #89 "Spent time report feature"
Can it support export spent time report? Now spent time report only has csv default export format.

[2015-04-01 11:12] two-pack commented on #89
You can export Spent time with this plugin.
Please select spent time column on Issues page or export all columns.

[2015-04-02 05:31] fengyedou commented on #89
@two-pack, I know all columns from issue page can be exported, what I mean is not here, you can check "Overview" in one redmine project, at the right side of this page there is "Spent Time" Menu,"Report" is below this menu, if I click into it to get spent time report, this report can only be exported as csv, not xls,xlsx.

So I request if this feature can be added, not only issue page can use xls

[2015-04-02 12:48] two-pack commented on #89
I understand your request.
But I think not to implement new feature now.

[2015-04-29 04:58] two-pack opened #90 "Travis script fails on Redmine 2.6.4."
Travis script fails on Redmine 2.6.4 with following logs.

[code]

[2015-04-29 04:59] two-pack commented on #90
db:schema:dump with trace option fails.
VERBOSE in .travis.yml will be changed to no for removing trace option.

[2015-04-29 05:28] #90 closed, assigned to two-pack

[2015-06-19 16:58] mags1225 opened #91 "404 Error on Bitnami Redmine 3.0.3"
I currently have the following installed in the plugins folder:
redmine_plugin_views_revisions
redmine_xls_export

Ran bundle install, and rake redmine:plugins:process_version_change RAILS_ENV=production

Plugin shows installed in Redmine, but when I click on the export button or export detailed, I get a 404 error.

Production.log shows the following error:
ActionController::RoutingError (No route

[2015-06-20 01:06] two-pack commented on #91
Please check how to install again. You do NOT need redmine_plugin_views_revisions because you use Redmine 3.0.3.
https://github.com/two-pack/redmine_xls_export#installation-and-setup

If you'll have error yet, please write more information, like OS, installed folders and files, how to install and so.

[2015-06-20 02:33] two-pack opened #92 "Test on Redmine 2.6.5 and 3.0.3"
Test on Redmine 2.6.5 and 3.0.3.

[2015-06-20 03:22] two-pack commented on #92
Tests pass.
I missed commit message :(

[2015-06-20 03:22] #92 closed, assigned to nobody

[2015-06-22 16:46] mags1225 commented on #91
I removed **redmine_plugin_views_revisions** and also **redmine_xls_export** to completely reinstall plugin.

OS is Server 2012 R2
Copied folder **redmine_xls_export** to **C:\Bitnami\redmine-3.0.3-0\apps\redmine\htdocs\plugins\** folder

Ran the following from **C:\Bitnami\redmine-3.0.3-0\apps\redmine\htdocs\** folder: (As instructed by bitnami plugin installation guide)

[code]

Below is the ful

[2015-06-22 20:56] two-pack commented on #91
[code]

The reason of error is what routing path includes _/redmine_.
I don't know why your environment has above condition.
Is related following post?
https://community.bitnami.com/t/not-able-to-run-redmine-via-thin-service-directly/28780/4

Please check your environment.
If routing path includes _/redmine_ is BitNami default, I think about adding that route in route.rb.
But I haven't BitNami env

[2015-06-23 13:50] mags1225 commented on #91
I have it working now. Bitnami default is **/redmine**

For anyone else that has this problem, this is exactly what I did to fix the issue with Bitnami Redmine 3.0.3

Edit the following file:
**c:\bitnami\redmine-3.0.3-0\apps\redmine\scripts\serviceinstall.bat**

Remove `-a 127.0.0.1 --prefix /redmine` from redmineThin1 and RedmineThin2 lines

Open CMD prompt with admin rights
Run following comman

[2015-06-27 10:17] two-pack commented on #91
I fixed to create links in issues page which use relative_url_root.
I checked with BitNami Redmine 3.0.3 on OS X.

[2015-06-27 12:11] #91 closed, assigned to two-pack

[2015-08-07 06:14] martin-at-schorsch opened #93 "Overwrite Export Limit"
When I change "Overwrite Export Limit" to e.g 1000, it is not used in quick export (500 issues are exported).
It works on detailed export. On detailed export I can change the limit anyhow.
Is this intended?

[2015-08-07 13:01] two-pack commented on #93
Thank you reporting it. I fixed it.

[2015-08-07 13:01] #93 closed, assigned to two-pack

[2015-08-09 13:46] fon1105 opened #94 "The URL link of XLS export button is not the root folder of Redmine"
I can successfully install the plug-in on my Redmine 2.6.3. It works perfectly.
The main problem is that the links of XLS export button is not the root folder of Redmine.
The correct link should be:
http://127.0.0.1/redmine/projects/name/issues_xls_export_current
But it shows the link when I click button:
http://127.0.0.1/projects/name/issues_xls_export_current

How can I change the default root U

[2015-08-09 21:12] two-pack commented on #94
What version of this plugin do you use?

[2015-08-09 23:41] fon1105 commented on #94
I am using 0.2.1.t8. Thanks for your reply.

[2015-08-13 01:07] two-pack commented on #94
I think this problem related #91 .
Please try this plugin of relaese version which you can download from https://github.com/two-pack/redmine_xls_export/releases/tag/0.2.1.t8

And please more detail of your environment to fix it.
- Using BitNami Redmine, or not
- Config which related url
- and more

[2015-08-13 05:17] fon1105 commented on #94
1. I am not using BitNami Redmine. This is my environment:
   Redmine version                2.6.3.stable
   Ruby version                   1.8.7-p352 (2011-06-30) [i386-linux]
   Rails version                  3.2.21
   Environment                    production
   Database adapter               MySQL
2. I am using apache2 with passenger-3.0.19. This is the HTTP config related Redmine URL
   Docum

[2015-08-13 13:22] two-pack commented on #94
fon1105,
I try to fix this problem, but I cannot check it because not to make environment to reproduce it.
I commit to #94 branch, https://github.com/two-pack/redmine_xls_export/tree/%2394
Could you check this branch in your environment?

[2015-08-13 13:47] two-pack commented on #94
refs http://www.redmine.org/issues/19024

[2015-08-13 15:24] fon1105 commented on #94
You are hero! I already confirm #94 branch fix this problem. Many thanks for your help.

[2015-08-13 23:22] two-pack commented on #94
fon1105,
Thank you for checking it, I committed the fix.

[2015-08-13 23:22] #94 closed, assigned to two-pack

[2015-08-13 23:25] two-pack commented on #91
When first fix, I removed to use relative_url_root for links. Its ok on BitNami Redmine, but other environment which are on sub-uri like #94 .
I re-fix this problem with referencing http://www.redmine.org/issues/19024 .

[2015-08-31 16:26] monakov-y opened #95 "Textilizable HTML output"
redmine_xls_export plugin has "Strip HTML" option.

It would be nice if there was an opposite option - textilize all output. So all fields and journal entries would be exported as they are in the views (with textile and macros expanded to HTML).

PS. `Redmine::WikiFormatting.to_html` does the trick, but without macros and redmine internal links expanded. I've also experimented with `textilizable`

[2015-08-31 22:14] two-pack commented on #95
Sorry I don't plan to implement new feature in this plugin.
But welcome to contribute it by all :)

[2015-09-01 16:40] monakov-y commented on #95
Would you be so kind to help me with textilizable method. I've modified line 318 and below in lib/xls_export.rb:

[code]

And the production.log says:

[code]

I think it is somehow connected with templates/views. So what should I do to call this method correctly?

[2015-09-01 21:11] two-pack commented on #95
What version do you use, Redmine and the plugin?

[2015-09-02 08:39] monakov-y commented on #95
We are using Redmine 2.6.0 (Bitnami stack) and lates redmine_xls_export from `features` branch (c35d4e8).

[2015-09-03 14:31] two-pack commented on #95
I tried to add above lines in xls_export.rb, but I cannot reproduce the problem.
My environment is Redmine 2.6.0 (not BitNami) and 3.0.3 (BitNami).

Is your changing ONLY above code? If you fork this repository and commit your changing, I can try it (but probably not soon).
Can you show me your data to occur the error like Description text, how to make issue, and so?

[2015-09-07 15:48] monakov-y commented on #95
Sorry for the late answer.

Yes, only this code (in :description case) on top of `features` branch.

You can place any macro in the description and it will cause internal error with the message above. For example - reference to the issue (e.g. #123). Descriptions that do not contain any macros are exported perfectly.

[2015-09-07 20:02] two-pack commented on #95
Please show me detail steps to
reproduce it and your expected result.

[2015-09-07 21:31] two-pack commented on #95
I expect detail steps include concrete dfscription value, input and output.

[2015-09-08 10:03] monakov-y commented on #95
For example if I have description field (in newly created issue `#123` with subject `Test`):

`Test description of issue #123`

I am expecting this output (like in corresponding `<div>` section inside browser):

[code]

So the `#123` redmine macro is expanded to the real issue link. Of course, class attribute of the <a> tag could differ depending on your default tracker, status and priority.

[2015-09-08 15:07] two-pack commented on #95
I can reproduce it, but I don't know to get your expected result, sorry.

[2015-09-09 12:01] monakov-y commented on #95
Thank you anyway. I'll ask on redmine forums.

[2015-09-11 23:38] fon1105 opened #96 "Support permission option for specific roles to export xls only"
Would it be possible to support permission option for specific roles to export xls only?

Thanks for your response.

[2015-09-11 23:44] two-pack commented on #96
Sorry I don't plan to implement new feature in this plugin.
But welcome to contribute it by all :)

[2015-09-12 01:03] fon1105 commented on #96
Noted with thanks :)

[2015-09-27 09:18] two-pack opened #97 "Changes version to 0.2.1.t9"
Changes version to 0.2.1.t9.

[2015-09-27 09:18] #97 closed, assigned to two-pack

[2016-03-18 14:50] two-pack opened #98 "Test on Redmine 3.2.1, 3.1.4 and 2.6.10"
Test on Redmine 3.2.1, 3.1.4 and 2.6.10.

[2016-03-18 14:51] two-pack commented on #98
Cannot install to Redmine 3.2.1 with error during bundle install, because nokogiri gem dependency.

[2016-03-18 15:10] two-pack commented on #98
Same problem with 3.1.4, 2.6.10.
To fix it that a line in Gemfile is replaced following:

[code]

[2016-03-18 15:33] #98 closed, assigned to two-pack

[2016-08-07 08:40] two-pack opened #99 "Test on Redmine 3.3.0"
Need to test on Redmine 3.3.0.

Following comment in official forum:
http://www.redmine.org/boards/3/topics/11986?r=50709#message-50709

[2016-08-07 08:47] two-pack commented on #99
I did simple testing for this plugin on Redmine 3.3.0, It's ok.
And test code is all green on my environment.

I changes version of Redmine for travis testing, And run test code again on Travis-CI.

[2016-08-07 09:07] two-pack commented on #99
Test code is failed on ruby 1.9.3 and Redmine 3.0.7 with following logs.

[code]

[2016-08-07 09:15] two-pack commented on #99
Error is following issue.
http://www.redmine.org/issues/22331

I excludes combination of ruby 1.9.3 and Redmine 3.0.7 from travis test.

[2016-08-07 10:16] #99 closed, assigned to two-pack

[2016-10-19 23:13] two-pack opened #100 "Test on Redmine 3.3.1, 3.2.4, 3.1.7"
Test on Redmine 3.3.1, 3.2.4, 3.1.7

[2016-10-20 05:49] two-pack commented on #100
I temporary excludes to check on ruby v1.9.3, and check ok.

[2016-10-20 05:49] #100 closed, assigned to two-pack

[2017-01-09 03:06] two-pack opened #101 "Test on Redmine 3.3.2, 3.2.5"
Test on Redmine 3.3.2, 3.2.5.

[2017-01-09 03:10] two-pack commented on #101
[Defect of Redmine #24092](http://www.redmine.org/issues/24092) was fixed on v3.3.2 and v3.2.5.
So I will revert commit 3dcd2ed on #101 .

[2017-01-09 09:31] two-pack commented on #101
Redmine install Wiki wrote:

So I remove older ruby version and Redmine from Travis-CI config.

[2017-01-09 09:46] two-pack commented on #101
All test is pass.

[2017-01-09 09:46] #101 closed, assigned to two-pack

[2017-01-10 01:28] archonwang opened #102 "redmine 3.3.2 update gem and there's some conflict with redmine Gemfile"
@two-pack , please  update it for newest redmine.
since
https://github.com/redmine/redmine/commit/72f59192525bd6dc3af2cfa00d5b184892335c8d

error log：
[code]

[2017-01-10 03:17] two-pack commented on #102
Thank You for reporting. I'll fix it.

[2017-01-10 13:39] two-pack opened #103 "Turn on Travis-CI with trunk of Redmine"
Turn on Travis-CI with trunk of Redmine.
With

- Travis-CI tests this plugin per day with Cron Jobs.
- Add master to travis.yml.

[2017-01-10 13:53] two-pack commented on #102
In the past, Redmine hadn't dependency of nokogiri in Gemfile. So this plugin Gemfile had it.
Now, This plugin don't need dependency explicit because Redmine already has nokogiri dependency in Gemfile.

[2017-01-10 14:24] #102 closed, assigned to two-pack

[2017-01-10 14:24] #103 closed, assigned to two-pack

[2017-01-20 14:27] two-pack opened #105 "Failed test of DetailedExportTest#test_to_export_with_splitting_by_grouping_criteria"
On Travis-CI, DetailedExportTest#test_to_export_with_splitting_by_grouping_criteria is failed with Redmine trunk.

The log is following:

[code]

https://travis-ci.org/two-pack/redmine_xls_export/jobs/193732709

[2017-01-29 09:28] two-pack commented on #105
This problem is occured after commiting r16221 on Redmine repository.
http://www.redmine.org/issues/24865

[2017-01-29 14:36] two-pack commented on #105
Redmine changes to load associations of query results more efficiently.
This plugin implements exporting like Redmine CSV export, so affected it.

I fixes this problem how to change the code of query issues like Redmine changes.
I assume Redmine next Mainor stable version doesn't include that Redmine change. If Redmine is going to apply that, this plugin will have error again.

[2017-01-29 14:36] #105 closed, assigned to two-pack

[2017-03-20 07:19] two-pack opened #106 "bundle install error is happened on Travis-CI."
On Travis-CI, **bundle install** has following error with ruby 2.3:

[code]

I think it is NOT this plugin bug, but SHOULD fix it.

[2017-03-20 07:19] two-pack commented on #106
See http://www.zhuwu.me/blog/posts/solve-gem-installation-timeout-when-building-docker-image

[2017-03-20 07:58] two-pack commented on #106
I added retry code for **bundle install**.

[2017-03-20 07:58] #106 closed, assigned to two-pack

[2017-05-10 13:13] rakshazi commented on #89
Need it too :(

[2017-05-26 10:07] kay54068 opened #107 "How to remove the issue ID field"
Hi,
i hope to remove the issue ID field when export issue.
Can you teach me how to modify it?

[2017-05-27 13:30] two-pack commented on #107
First, We cannot export xls with this plugin except ID column now.
And I don't plan to implement new feature in this plugin.

But maybe you can do it with following patch:

[code]

[2017-06-17 13:47] two-pack commented on #89
I implemented to export spent time on redmine_xlsx_format_issue_exporter.
Please use it :)
https://github.com/two-pack/redmine_xlsx_format_issue_exporter/issues/37

[2017-07-01 09:10] two-pack opened #108 "Changes version to 0.2.1.t10"
Changes version to 0.2.1.t10.

[2017-07-03 03:45] two-pack commented on #108
Changed config of Travis-CI and verison.

[2017-07-03 03:45] #108 closed, assigned to two-pack

[2017-08-22 13:59] two-pack opened #109 "Error on Redmine trunk after Rails 5 support"
Error on Redmine trunk after Rails 5 support.

[2017-08-24 22:05] two-pack commented on #109
Fixed.

[2017-08-24 22:05] #109 closed, assigned to two-pack

[2017-10-23 08:54] mbalecr7 opened #110 "Error when i would export issues"
Hello,

I just install the plugin on my redmine ( version 3.2.0 )

But when i would like to export issue, they say :

Internal error

An error occurred on the page you were trying to access.
If you continue to experience problems please contact your Redmine administrator for assistance.

If you are the Redmine administrator, check your log files for details about the error.

Thank you

[2017-10-23 09:08] two-pack commented on #110
Please explain more information like
* Log when this errer.
* Your environment.
* How to reproduce it if you know.

[2017-10-23 09:14] two-pack commented on #110
See http://www.redmine.org/projects/redmine/wiki/Submissions#Submitting-a-Bug

[2017-10-23 09:28] mbalecr7 commented on #110
Environment:
  Redmine version                3.2.5.stable.16172
  Ruby version                   2.2.5-p319 (2016-04-26) [x86_64-linux]
  Rails version                  4.2.7.1
  Environment                    production
  Database adapter               Mysql2
SCM:
  Subversion                     1.9.3
  Mercurial                      3.7.3
  Git                            2.7.4
  Filesystem
Red

[2017-10-23 09:55] two-pack commented on #110
You probably use original plugin.
Try this GitHub version.

[2017-10-23 10:24] mbalecr7 commented on #110
Ok it's seem's working , thank's for your help

[2017-10-23 10:24] #110 closed, assigned to nobody

[2018-01-26 10:21] excceed opened #112 "Possible to add export zip package for 1 selected issue"
hello @two-pack
First thanks bring us this great plugin.
I would like ask you if it is possible to add this feature: only export 1 selected issue with attachment to a zip package.  As current each operation will export all issues.

thanks~ :)

[2018-01-27 07:57] two-pack commented on #112
Sorry I don't plan to implement new feature in this plugin.
But welcome to contribute it by all :)

[2018-08-11 02:19] two-pack opened #113 "Test on Redmine 3.4.6, 3.3.8."
Test on Redmine 3.4.6, 3.3.8.

[2018-08-11 02:32] two-pack opened #114 "Remove redmine:plugins:migrate from Travis-CI script"
Now, trunk repository of Redmine still don't fix following issue.
http://www.redmine.org/issues/28934

So Travis-CI build is always failed.
I'll remove redmine:plugins:migrate from Travis-CI script because this plugin don't need redmine:plugins:migrate.

[2018-08-11 06:50] #114 closed, assigned to two-pack

[2018-08-11 06:50] #113 closed, assigned to two-pack

[2018-09-24 01:06] two-pack opened #116 "Test on Redmine 4.0.0, 3.4.7, 3.3.9"
Test on Redmine 4.0.0.

[2018-09-24 01:12] two-pack commented on #114
A trunk repository of Redmine already fixed following issue!
https://www.redmine.org/issues/28934#change-87515

I'll revert this change on #116  .

[2018-09-24 01:20] two-pack commented on #116
This plugin test has following errors on r17516 of Redmine trunk.

[code]

[2018-09-24 12:45] two-pack commented on #116
I should specify **RAILS_ENV=test** .
That errors is my misstake ;(

[code]

[2018-09-25 14:12] two-pack opened #117 "Invalid characters on headers with Japanese translation"
### Description

Invalid characters on headers with Japanese translation.
![invalid_chars_on_headers](https://user-images.githubusercontent.com/378981/46019910-16299580-c118-11e8-9241-2bbf0b6f5055.png)

### How to reproduce

Quick export with Japanese setting account.

### Environment

[code]

[2018-09-25 14:19] two-pack opened #118 "Value of files column is invalid"
### Description

Value of files column is invalid like following:

Attachments column is no problem.

### How to reproduce

Quick export from issues page.

### Environment

[code]

[2018-09-27 14:42] two-pack commented on #117
My environment is Mac OS X, Excel 2011.
The font of header is **Arial** in this case, but this problem is resolved after changing font like MS P Gothic.
I think exporting file is no problem.
It is better to have font setting in this plugin, but I have no plan to implement new feature.

[2018-09-27 14:42] #117 closed, assigned to two-pack

[2018-09-27 14:43] #118 closed, assigned to two-pack

[2018-09-29 12:06] two-pack opened #119 "Changes version to 0.2.1.t11"
Changes version to 0.2.1.t11.

[2018-09-29 12:34] two-pack commented on #119
I decided to support for Redmine 3.1.x and earlier was end.

[2018-12-09 12:29] two-pack commented on #116
Released 4.0.0, 3.4.7, 3.3.9!
http://www.redmine.org/news/119

I finished checking.

[2018-12-09 12:29] #116 closed, assigned to two-pack

[2018-12-09 12:30] #119 closed, assigned to two-pack

[2019-01-12 13:37] two-pack opened #120 "Broken test on travis-ci"
Broken test on travis-ci.
https://github.com/two-pack/redmine_auto_assign_group/issues/10

[code]

[2019-01-12 22:49] two-pack commented on #120
I fixed travis.yml which downgraded bundler to 17.x.

[2019-01-12 22:49] #120 closed, assigned to two-pack

[2019-02-23 09:09] two-pack opened #121 "Test on Redmine 4.0.2, 3.4.9"
Test on Redmine 4.0.2, 3.4.9.

[2019-02-23 12:00] two-pack commented on #121
I removed CI test condition of ruby 2.2 and Redmine trunk because Redmine dropped ruby 2.2 on trunk.
http://www.redmine.org/issues/30356
And removed CI test condition of ruby 2.3 and Redmine 3.3.9 because following patch isn't applied to 3.3.x.
http://www.redmine.org/issues/30821

[2019-02-23 12:00] #121 closed, assigned to two-pack

[2019-04-29 12:51] two-pack opened #122 "Broken test on travis-ci"
Broken test on travis-ci.
https://travis-ci.org/two-pack/redmine_xls_export/builds/525424466

This problem is caused after following.
http://www.redmine.org/projects/redmine/repository/revisions/18078

[2019-04-29 13:10] #122 closed, assigned to two-pack

[2019-10-09 01:30] ryoji-takeuchi opened #123 "Can't install to Redmine 4.0.4"
redmine_xls_export can't install to Redmine 4.0.4 because this plugin use method which was removed from Rails 5.1 or later. Redmine 4.0 need to use Rails 5.2.

[2019-10-28 22:06] two-pack opened #124 "Changes Travis-CI conditions"
Changes Travis-CI conditions for the issue in redmine.org.
http://www.redmine.org/issues/32223

Now tests are run on trunk and released versions, but they have errors related above issue.
So I change the environment of tests released versions to stable branches.

[2019-10-28 22:15] two-pack commented on #123
Sorry late response ;(
I can run this plugin on Redmine 4.0.4.
How do you install this plugin? Please try features branch or version 0.2.1.t11.
https://github.com/two-pack/redmine_xls_export/releases/tag/0.2.1.t11

[2019-10-28 22:26] #124 closed, assigned to two-pack

[2019-10-30 08:51] ryoji-takeuchi commented on #123
Thank you for your comment.
I re-installed 0.2.1.t11. Then can install successfully.
Maybe, I choose wrong version at last time,

[2019-10-30 08:51] #123 closed, assigned to two-pack, ryoji-takeuchi

[2019-12-29 05:08] two-pack opened #125 "Uses GitHub Actions for CI instead of Travis CI"
This plugin's CI uses Travis CI.
I decide to change it to GitHub Actions.

[2019-12-29 05:23] two-pack commented on #125
Commited c2b1f51ef0800e8d86dba8b22cabca0886477e59.

[2019-12-29 05:23] #125 closed, assigned to two-pack

[2020-03-22 07:36] two-pack opened #128 "Bundler fails after redmine.org #7056"
Bundler fails after [redmine.org #7056](https://www.redmine.org/issues/7056)
Following error is occurred when run bundle install:
[code]

Redmine v4.1.0 or older have no problem.

[2020-03-22 08:16] two-pack commented on #128
Redmine v3.4.x or later install rubyzip by Redmine Gemfile.
So I remove rubyzip from the plugin Gemfile.

[2020-03-22 08:16] #128 closed, assigned to two-pack

[2020-09-25 12:19] dominch opened #131 "Hidden values for roles are exported"
I have two custom fields hidden for some roles.
On tickets those fields are hidden, on queries You can force to see them but they are all empty.
With this plugin those values can be revealed in export. All columns should be checked if they are available for user,

I checked more things and right now journals with restricted values are exported too.

[2020-09-25 13:04] two-pack commented on #131
Thank you for reporting.
But I cannot reproduce it. Can you write more information like followings?
https://github.com/two-pack/redmine_xlsx_format_issue_exporter/wiki/How-to-report-issue

[2020-09-25 14:10] dominch commented on #131
Hello,
I have this issue on redmine 3.3, to reproduce create custom field visible only for one role,
then with user with this role create any issue, fill any data for that CF. Then edit its value to get journal.
Now switch to different user with other role, list issue to check if custom field is missing (it should be). Try export and with this bug it should be listed as column and in journal log.

[2020-09-25 23:42] two-pack commented on #131
I can reproduce it with following environment and options.

**Options**
 + Export journal entries
 + Export journal entries to worksheets
 + Issues journals as separate files

**Environment**
[code]

NOTE: I used latest features branch of redmine_xls_export.

Cool!
But I don't have time to fix and test for other reason, so I think it will take more time to fix.

[2020-09-26 14:47] two-pack commented on #131
@dominch , I try to fix this problem on [hidden_cf_by_roles branch](https://github.com/two-pack/redmine_xls_export/tree/hidden_cf_by_roles).
Can you check to fix your problem above branch?

[2020-09-28 08:19] dominch commented on #131
hello
I just checked it that branch and hidden values are visible :/
I made few changes for that, here it's diff:

[code]

all journal.details needs to be replaced by journal.visible_details,
and like I said for custom fields column I added additional condition: (c.custom_field.visible_by?(project))

I hope that this fixes this problem, I'm passing this to test team and hope they confirm.

[2020-09-28 13:37] two-pack commented on #131
@dominch Thank you for checking the branch and showing diff.
I thought I could reproduce this problem, but maybe I cannot yet...
Please show **step by step** to reproduce it.

My steps are following. I think exporting result of **Journal Column** is the journals on issue page.
1. Install Redmine 3.3.10.
2. Create Project.
3. Add Users and assign to the project.
    * **admin** is administrator of

[2020-09-30 09:47] dominch commented on #131
Hello,
I spent some time today to test that on fresh instance (3.3.10) and this branch of plugin. I'm using 3.3.2 on production now with lot of plugins. Probably there were some changes since 3.3.2 because I could not get hidden custom field column on query like I do on prod, and also I could not get it on export. On prod my condition (from diff) is needed to hide column and I can get that column

[2020-09-30 13:56] two-pack commented on #131
@dominch ,
Thank you for researching this problem details.
I could reproduce it on trunk of Redmine, with option of **export journals to worksheets** and editing custom field with adding note.
I agree your diff **except** a line included *custom_field.visible_by* and committed them on the branch.
I think column exporting is good on current version of Redmine and 3.3.10 (are you same opinion?), so

[2020-10-01 09:11] dominch commented on #131
Hello,
Thanks for quick response and merging changes, I hope that will help others :)
I know I need to upgrade redmine to current version, it's very big instance and I hope to move it to k8s, that takes some time. Right now I needed to leave my fix for custom field column on my instance. I will retest everything when it will be upgaded.

Thanks again :)

[2020-10-01 09:11] #131 closed, assigned to two-pack

[2020-10-01 11:52] two-pack commented on #131
@dominch , Thank you for contributing a lot!
I merge it to features branch.

[2022-04-16 09:15] two-pack opened #135 "Archive this repository"
We are considering archiving this repository for the following reasons
1. I no longer have sufficient time for support.
2. There is almost no activity.
3. It is not working with Redmine v5.0.0 released on 2022-03-28, but there are no reports of issues.

If there is not a lot of feedback which is needs to continue this project, I will archive it in about a month's time(about 2022-06).

[2022-06-02 12:52] two-pack commented on #135
Nobody comment, I'll archive this repository.
Thank all for contributing and using this plugin.
And great thank original developer, [Vitaly Klimov](https://www.redmine.org/plugins/redmine_xls_export).

NOTE: Another plugin to export Excel file, [Redmine XLSX format issue exporter](https://github.com/two-pack/redmine_xlsx_format_issue_exporter).

[2022-06-02 12:52] #135 closed, assigned to two-pack

[2022-06-02 12:57] two-pack commented on #112
This repository is archived. See #135.

[2022-06-02 12:57] #112 closed, assigned to nobody

[2022-06-02 12:57] two-pack commented on #107
This repository is archived. See #135.

[2022-06-02 12:57] #107 closed, assigned to nobody

[2022-06-02 12:57] two-pack commented on #96
This repository is archived. See #135.

[2022-06-02 12:57] #96 closed, assigned to nobody

[2022-06-02 12:58] two-pack commented on #95
This repository is archived. See #135.

[2022-06-02 12:58] #95 closed, assigned to nobody

[2022-06-02 12:58] two-pack commented on #89
This repository is archived. See #135.

[2022-06-02 12:58] #89 closed, assigned to nobody

[2022-06-02 12:58] two-pack commented on #72
This repository is archived. See #135.

[2022-06-02 12:58] #72 closed, assigned to two-pack

[2022-06-02 12:58] two-pack commented on #68
This repository is archived. See #135.

[2022-06-02 12:58] #68 closed, assigned to two-pack

[2022-06-02 12:58] two-pack commented on #55
This repository is archived. See #135.

[2022-06-02 12:58] #55 closed, assigned to nobody

[2022-06-02 12:58] two-pack commented on #12
This repository is archived. See #135.

[2022-06-02 12:58] #12 closed, assigned to nobody